In [1]:
import os
import pandas as pd
import glob
import seaborn as sns
import pandas as pd
import datetime as dt

## Creating temporal resolution features

In [2]:
path_input=os.path.join(os.getcwd(), '../data/input/dresden/')
path_output_weather = os.path.join(os.getcwd(), '../data/output/weather/')
path_output=os.path.join(os.getcwd(), '../data/output/')
pd.set_option('display.max_columns', 100)

In [3]:
df = pd.read_csv(os.path.join(path_output, "Trips.csv"),index_col=0)

In [4]:
df

,p_bike_racks_start,p_spot_start,p_booked_bikes_start,p_place_type_start,datetime_start,b_number_start,p_uid_start,p_bikes_start,p_lat_start,b_electric_lock_start,b_bike_type_start,p_name_start,p_free_racks_start,b_lock_types_start,p_number_start,p_lng_start,b_boardcomputer_start,p_maintenance_start,p_bike_racks_end,p_spot_end,p_booked_bikes_end,p_place_type_end,datetime_end,p_uid_end,p_bikes_end,p_lat_end,p_name_end,p_free_racks_end,p_number_end,p_lng_end,p_maintenance_end,air_deg,air_hum,rain_mm,rain_yn,sun_hour,wind_ms,month_start,month_end,day_start,day_end,day_of_week_start,day_of_week_end,hour_start,hour_end,day_of_year_start,day_of_year_end,season,weekend,booking_date_start,trip_duration,idle_time,h3_hex_small_id_start,h3_hex_small_id_end,h3_hex_big_id_start,h3_hex_big_id_end
0,0,False,0,12,2019-01-20 00:00:00,93771,12095573,1,51.071262,False,15,BIKE 93771,0,analog_code_lock,0.0,13.750380,22532,False,0,False,0,12,2019-01-20 00:28:00,12099518,1,51.046234,BIKE 93771,0,0.0,13.693052,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,28.0,0.0,881f1b54bbfffff,881f1b5599fffff,861f1b54fffffff,861f1b55fffffff
1,0,True,0,0,2019-01-20 00:05:00,93576,10299640,5,51.038210,False,15,Wohnheim Gret-Palucca.Straße / Lenneplatz,0,analog_code_lock,4486.0,13.744712,0,False,0,False,0,12,2019-01-20 00:15:00,12099344,1,51.049069,BIKE 93576,0,0.0,13.744122,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,10.0,0.0,881f1b4609fffff,881f1b465dfffff,861f1b467ffffff,861f1b467ffffff
2,0,True,0,0,2019-01-20 00:07:00,93440,10299584,1,51.042570,True,0,Malterstraße (Haltestelle),0,frame_lock,4483.0,13.691130,7551004130,False,0,True,0,0,2019-01-20 00:33:00,4405670,3,51.028370,Wundtstr. / Zellescher Weg,0,4458.0,13.747730,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,26.0,0.0,881f1b5591fffff,881f1b4601fffff,861f1b55fffffff,861f1b467ffffff
3,0,False,0,12,2019-01-20 00:07:00,93322,12098234,1,51.041798,False,0,BIKE 93322,0,analog_code_lock,0.0,13.689620,1265,False,0,False,0,12,2019-01-20 00:09:00,12098234,1,51.041798,BIKE 93322,0,0.0,13.689620,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,2.0,0.0,881f1b5591fffff,881f1b5591fffff,861f1b55fffffff,861f1b55fffffff
4,0,True,0,0,2019-01-20 00:07:00,93585,264575,5,51.071740,False,15,Friedensstraße/Conradstr.,0,analog_code_lock,4373.0,13.741257,0,False,0,True,0,0,2019-01-20 00:35:00,264575,5,51.071740,Friedensstraße/Conradstr.,0,4373.0,13.741257,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,28.0,0.0,881f1b54b9fffff,881f1b54b9fffff,861f1b54fffffff,861f1b54fffffff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567434,0,True,0,0,2020-01-20 23:29:00,93857,310792,6,51.038466,True,71,Bonhoeffer Platz,0,frame_lock,4438.0,13.701679,7551012762,False,0,True,0,0,2020-01-20 23:49:00,10299848,16,51.070350,Alexander-Puschkin-Platz,0,4504.0,13.729830,False,-1.6,91.7,0.0,0.0,0.0,3.3,1,1,20,20,0,0,23,23,20,20,1,False,2020-01-20 00:00:00,20.0,25.0,881f1b5593fffff,881f1b5487fffff,861f1b55fffffff,861f1b54fffffff
567435,0,True,0,0,2020-01-20 23:29:00,93908,11248297,3,51.043537,True,71,Tharandter Straße,0,frame_lock,4507.0,13.703979,7551012906,False,0,True,0,0,2020-01-20 23:46:00,4405670,4,51.028370,Wundtstr. / Zellescher Weg,0,4458.0,13.747730,False,-1.6,91.7,0.0,0.0,0.0,3.3,1,1,20,20,0,0,23,23,20,20,1,False,2020-01-20 00:00:00,17.0,27.0,881f1b5593fffff,881f1b4601fffff,861f1b55fffffff,861f1b467ffffff
567436,0,True,0,0,2020-01-20 23:31:00,93334,264575,4,51.071740,True,71,Friedensstraße/Conradstr.,0,frame_lock,4373.0,13.741257,7551005670,False,0,True,0,0,2020-01-20 23:36:00,121771,5,51.071144,Schauburg,0,4327.0,13.750328,False,-2.4,91.7,0.0,0.0,0.0,3.2,1,1,20,20,0,0,23,23,20,20,1,False,2020-01-20 00:00:00,5.0,125.0,881f1b54b9fffff,881f1b54bbfffff,861f1b54fffffff,861f1b54fffffff
567437,0,True,0,0,2020-01-20 23:33:00,93824,73,1,51.065184,True,71,Bf. Dresden-Neustadt,0,frame_lock,4332.0,13.741220,7551016033,False,0,True,0,0,2020-01-20 23:45:00,264558,3,51.089747,Hubertusplatz,0,4356.0,13.723367,False,-2.4,91.7,0.0,0.0,0.0,3.2,1,1,20,20,0,0,23,23,20,20,1,False,2020-01-20 00:00:00,12.0,99.0,881f1b54b1fffff,881f1b5489fffff,861f1b54fffffff,861f1b54fffffff
567438,0,False,0,12,2020-01-20 23:36:00,93454,27150164,1,51.044302,True,71,BIKE 93454,0,frame_lock,0.0,13.738484,7551002419,False,0,True,0,0,2020-01-20 23:50:00,10299848,17,51.070350,Alexander-Puschkin-Platz,0,4504.0,13.729830,False,-2.4,91.7,0.0,0.0,0.0,3.2,1,1,20,20,0,0,23,23,20,20,1,False,2020-01-20 00:00:00,14.0,229.0,881f1b4643fffff,881f1b5487fffff,861f1b467ffffff,861f1b54fffffff

In [5]:
# RESET TRIPS DATA AND DELETE OLD VALUES IF NEEDED
# df = df.drop(["24_sum","6_sum","2_sum","1_sum",
#              "24_demand","24_demand_hex_big","24_demand_hex_small","24_agg_time","6_demand","6_demand_hex_big","6_demand_hex_small","6_agg_time","2_demand","2_demand_hex_big","2_demand_hex_small","2_agg_time","1_demand","1_demand_hex_big","1_demand_hex_small","1_agg_time"], axis=1)
# df

In [6]:
# df.to_csv(os.path.join(path_output, "Trips.csv"))

In [7]:
#datetime conversion
df = df.sort_values(by=['datetime_start'], ascending=True)
df["datetime_start"] = pd.to_datetime(df["datetime_start"])
df["count"] = 1

### How we want to get temporal resolutions
- add 4 columns for each resolution: 24, 6, 2, one hour
- they display # bookings within given time period

### Function to aggregate datasets if needed

In [8]:
#data by timespan 24H, 1H, 4H, 12H
def setDataset(dataset, temp_resol, columnnamegroupby, functions_dic):
    newDataset = dataset.resample(temp_resol, on = columnnamegroupby).agg(functions_dic)
    return newDataset
#requested resolutions
temp_resol = ['24H', '6H', '2H', '1H']

In [9]:
# setDataset(df,'24H','datetime_start',{"count":"count"})

In [10]:
# #merge from dwd data
# df_full = pd.merge_asof(df_merged.sort_values('datetime_start'), 
#                         df_dwd, left_on='datetime_start', 
#                         right_on='MESS_DATUM', 
#                         tolerance=pd.Timedelta('30 min'),
#                         allow_exact_matches=True, direction='nearest')

In [11]:
# def add_temp_resol(dataset):
#     temp_resol = ['24H', '6H', '2H', '1H']
    
#     for i in temp_resol: 
#         data_temp = dataset
#         data_temp = data_temp.resample(temp_resol, on="datetime_start").agg({"count":"count"})
#         df_full = pd.merge_asof(dataset.sort_values('datetime_start'), 
#                          data_temp, left_on='datetime_start', 
#                          right_on='datetime_start', 
#                          tolerance=pd.Timedelta('24 hours'),
#                          allow_exact_matches=True, direction='nearest')
#     return df_full

### Creating series with # bookings for given time interval

In [12]:
dataset = df.copy()
print("Number of NaNs:", dataset.isna().sum().sum())

Number of NaNs: 140

In [13]:
#base -> Shifts the base time to calculate from by some time amount
#shifting the base to the middle value of given time interval solved the NaN problem.
#Why? Because of our timedelta, which is half the amount of time of the resampled time interval 
#--> for time interval x we want to sum up all in!
#example: for daily counts aka 24 hours the base will be 12 am, the sum will be from 00:00 am until 23:59 pm
df_24 = dataset.resample("1D", on="datetime_start").agg({"count":"count"})
df_6 = dataset.resample("6H", on="datetime_start").agg({"count":"count"})
df_2 = dataset.resample("2H", on="datetime_start").agg({"count":"count"})
df_1 = dataset.resample("1H", on="datetime_start").agg({"count":"count"})
# Counts per time resolution & small hexagon (For start_time)
df_24_hex_small = dataset.groupby("h3_hex_small_id_start").resample("1D", on="datetime_start").agg({"count":"count"})
df_6_hex_small = dataset.groupby("h3_hex_small_id_start").resample("6H", on="datetime_start").agg({"count":"count"})
df_2_hex_small = dataset.groupby("h3_hex_small_id_start").resample("2H", on="datetime_start").agg({"count":"count"})
df_1_hex_small = dataset.groupby("h3_hex_small_id_start").resample("1H", on="datetime_start").agg({"count":"count"})
# Counts per time resolution & big hexagon (For start_time)
df_24_hex_big = dataset.groupby("h3_hex_big_id_start").resample("1D", on="datetime_start").agg({"count":"count"})
df_6_hex_big = dataset.groupby("h3_hex_big_id_start").resample("6H", on="datetime_start").agg({"count":"count"})
df_2_hex_big = dataset.groupby("h3_hex_big_id_start").resample("2H", on="datetime_start").agg({"count":"count"})
df_1_hex_big = dataset.groupby("h3_hex_big_id_start").resample("1H", on="datetime_start").agg({"count":"count"})

In [14]:
print("Number of NaNs in df_24:", df_24.isna().sum().sum())
print("Number of NaNs in df_6:", df_6.isna().sum().sum())
print("Number of NaNs in df_2:", df_2.isna().sum().sum())
print("Number of NaNs in df_1:", df_1.isna().sum().sum())

df_24 = df_24[df_24["count"] != 0]
df_6 = df_6[df_6["count"] != 0]
df_2 = df_2[df_2["count"] != 0]
df_1 = df_1[df_1["count"] != 0]

display(df_24,df_6,df_2,df_1)
#all NaN lol

Number of NaNs in df_24: 0
Number of NaNs in df_6: 0
Number of NaNs in df_2: 0
Number of NaNs in df_1: 0

                count
datetime_start
2019-01-20        265
2019-01-21        529
2019-01-22        477
2019-01-23        530
2019-01-24       1092
...               ...
2020-01-16       1520
2020-01-17       1033
2020-01-18        810
2020-01-19        733
2020-01-20       1050

[363 rows x 1 columns]

                     count
datetime_start
2019-01-20 00:00:00     47
2019-01-20 06:00:00     60
2019-01-20 12:00:00    104
2019-01-20 18:00:00     54
2019-01-21 00:00:00     25
...                    ...
2020-01-19 18:00:00    199
2020-01-20 00:00:00     33
2020-01-20 06:00:00    317
2020-01-20 12:00:00    464
2020-01-20 18:00:00    236

[1450 rows x 1 columns]

                     count
datetime_start
2019-01-20 00:00:00     27
2019-01-20 02:00:00     14
2019-01-20 04:00:00      6
2019-01-20 06:00:00      4
2019-01-20 08:00:00     32
...                    ...
2020-01-20 14:00:00    140
2020-01-20 16:00:00    184
2020-01-20 18:00:00    118
2020-01-20 20:00:00     70
2020-01-20 22:00:00     48

[4343 rows x 1 columns]

                     count
datetime_start
2019-01-20 00:00:00     19
2019-01-20 01:00:00      8
2019-01-20 02:00:00      9
2019-01-20 03:00:00      5
2019-01-20 04:00:00      3
...                    ...
2020-01-20 19:00:00     62
2020-01-20 20:00:00     43
2020-01-20 21:00:00     27
2020-01-20 22:00:00     25
2020-01-20 23:00:00     23

[8643 rows x 1 columns]

### Modify Small Hexagon Aggregate df's
* Kick out entries where no trips took place
* Reset index so hex id and datetime are transformed from indices to callable columns to merge on & by
* Add aggregation time as copy of datetime so it will be automatically added when merging

In [15]:
df_24_hex_small = df_24_hex_small[df_24_hex_small["count"] != 0]
df_24_hex_small.reset_index(inplace=True)
df_24_hex_small["24_agg_time"] = df_24_hex_small["datetime_start"]

df_6_hex_small = df_6_hex_small[df_6_hex_small["count"] != 0]
df_6_hex_small.reset_index(inplace=True)
df_6_hex_small["6_agg_time"] = df_6_hex_small["datetime_start"]

df_2_hex_small = df_2_hex_small[df_2_hex_small["count"] != 0]
df_2_hex_small.reset_index(inplace=True)
df_2_hex_small["2_agg_time"] = df_2_hex_small["datetime_start"]

df_1_hex_small = df_1_hex_small[df_1_hex_small["count"] != 0]
df_1_hex_small.reset_index(inplace=True)
df_1_hex_small["1_agg_time"] = df_1_hex_small["datetime_start"]

display(df_24_hex_small,df_6_hex_small,df_2_hex_small,df_1_hex_small)

      h3_hex_small_id_start datetime_start  count 24_agg_time
0           881e247b63fffff     2019-01-24      2  2019-01-24
1           881e247b63fffff     2019-02-05      4  2019-02-05
2           881e247b63fffff     2019-02-12     23  2019-02-12
3           881e247b63fffff     2019-02-13     22  2019-02-13
4           881e247b63fffff     2019-02-14      2  2019-02-14
...                     ...            ...    ...         ...
30164       881fac18edfffff     2019-05-01      1  2019-05-01
30165       881fac18edfffff     2019-05-02      1  2019-05-02
30166       881fac19dbfffff     2019-04-30      3  2019-04-30
30167       881fac19dbfffff     2019-05-03      1  2019-05-03
30168       88b2c5464bfffff     2019-07-29      1  2019-07-29

[30169 rows x 4 columns]

      h3_hex_small_id_start      datetime_start  count          6_agg_time
0           881e247b63fffff 2019-01-24 06:00:00      2 2019-01-24 06:00:00
1           881e247b63fffff 2019-02-05 12:00:00      2 2019-02-05 12:00:00
2           881e247b63fffff 2019-02-05 18:00:00      2 2019-02-05 18:00:00
3           881e247b63fffff 2019-02-12 12:00:00      9 2019-02-12 12:00:00
4           881e247b63fffff 2019-02-12 18:00:00     14 2019-02-12 18:00:00
...                     ...                 ...    ...                 ...
78749       881fac18edfffff 2019-05-02 06:00:00      1 2019-05-02 06:00:00
78750       881fac19dbfffff 2019-04-30 06:00:00      1 2019-04-30 06:00:00
78751       881fac19dbfffff 2019-04-30 12:00:00      2 2019-04-30 12:00:00
78752       881fac19dbfffff 2019-05-03 18:00:00      1 2019-05-03 18:00:00
78753       88b2c5464bfffff 2019-07-29 06:00:00      1 2019-07-29 06:00:00

[78754 rows x 4 columns]

       h3_hex_small_id_start      datetime_start  count          2_agg_time
0            881e247b63fffff 2019-01-24 08:00:00      2 2019-01-24 08:00:00
1            881e247b63fffff 2019-02-05 16:00:00      2 2019-02-05 16:00:00
2            881e247b63fffff 2019-02-05 18:00:00      2 2019-02-05 18:00:00
3            881e247b63fffff 2019-02-12 12:00:00      1 2019-02-12 12:00:00
4            881e247b63fffff 2019-02-12 14:00:00      2 2019-02-12 14:00:00
...                      ...                 ...    ...                 ...
147641       881fac18edfffff 2019-05-02 06:00:00      1 2019-05-02 06:00:00
147642       881fac19dbfffff 2019-04-30 08:00:00      1 2019-04-30 08:00:00
147643       881fac19dbfffff 2019-04-30 12:00:00      2 2019-04-30 12:00:00
147644       881fac19dbfffff 2019-05-03 18:00:00      1 2019-05-03 18:00:00
147645       88b2c5464bfffff 2019-07-29 06:00:00      1 2019-07-29 06:00:00

[147646 rows x 4 columns]

       h3_hex_small_id_start      datetime_start  count          1_agg_time
0            881e247b63fffff 2019-01-24 09:00:00      2 2019-01-24 09:00:00
1            881e247b63fffff 2019-02-05 17:00:00      2 2019-02-05 17:00:00
2            881e247b63fffff 2019-02-05 18:00:00      1 2019-02-05 18:00:00
3            881e247b63fffff 2019-02-05 19:00:00      1 2019-02-05 19:00:00
4            881e247b63fffff 2019-02-12 13:00:00      1 2019-02-12 13:00:00
...                      ...                 ...    ...                 ...
205109       881fac18edfffff 2019-05-02 06:00:00      1 2019-05-02 06:00:00
205110       881fac19dbfffff 2019-04-30 08:00:00      1 2019-04-30 08:00:00
205111       881fac19dbfffff 2019-04-30 13:00:00      2 2019-04-30 13:00:00
205112       881fac19dbfffff 2019-05-03 18:00:00      1 2019-05-03 18:00:00
205113       88b2c5464bfffff 2019-07-29 06:00:00      1 2019-07-29 06:00:00

[205114 rows x 4 columns]

### Modify Big Hexagon Aggregate df's
* Kick out entries where no trips took place
* Reset index so hex id and datetime are transformed from indices to callable columns to merge on & by

In [16]:
df_24_hex_big = df_24_hex_big[df_24_hex_big["count"] != 0]
df_24_hex_big.reset_index(inplace=True)

df_6_hex_big = df_6_hex_big[df_6_hex_big["count"] != 0]
df_6_hex_big.reset_index(inplace=True)

df_2_hex_big = df_2_hex_big[df_2_hex_big["count"] != 0]
df_2_hex_big.reset_index(inplace=True)

df_1_hex_big = df_1_hex_big[df_1_hex_big["count"] != 0]
df_1_hex_big.reset_index(inplace=True)

display(df_24_hex_big,df_6_hex_big,df_2_hex_big,df_1_hex_big)

     h3_hex_big_id_start datetime_start  count
0        861e247b7ffffff     2019-01-24      2
1        861e247b7ffffff     2019-02-05      4
2        861e247b7ffffff     2019-02-12     23
3        861e247b7ffffff     2019-02-13     22
4        861e247b7ffffff     2019-02-14      2
...                  ...            ...    ...
2400     861fac18fffffff     2019-05-02     14
2401     861fac18fffffff     2019-05-03      3
2402     861fac18fffffff     2019-05-04      5
2403     861fac19fffffff     2019-05-03      1
2404     86b2c5467ffffff     2019-07-29      1

[2405 rows x 3 columns]

     h3_hex_big_id_start      datetime_start  count
0        861e247b7ffffff 2019-01-24 06:00:00      2
1        861e247b7ffffff 2019-02-05 12:00:00      2
2        861e247b7ffffff 2019-02-05 18:00:00      2
3        861e247b7ffffff 2019-02-12 12:00:00      9
4        861e247b7ffffff 2019-02-12 18:00:00     14
...                  ...                 ...    ...
7671     861fac18fffffff 2019-05-03 18:00:00      1
7672     861fac18fffffff 2019-05-04 06:00:00      2
7673     861fac18fffffff 2019-05-04 12:00:00      3
7674     861fac19fffffff 2019-05-03 18:00:00      1
7675     86b2c5467ffffff 2019-07-29 06:00:00      1

[7676 rows x 3 columns]

      h3_hex_big_id_start      datetime_start  count
0         861e247b7ffffff 2019-01-24 08:00:00      2
1         861e247b7ffffff 2019-02-05 16:00:00      2
2         861e247b7ffffff 2019-02-05 18:00:00      2
3         861e247b7ffffff 2019-02-12 12:00:00      1
4         861e247b7ffffff 2019-02-12 14:00:00      2
...                   ...                 ...    ...
19305     861fac18fffffff 2019-05-04 08:00:00      2
19306     861fac18fffffff 2019-05-04 14:00:00      2
19307     861fac18fffffff 2019-05-04 16:00:00      1
19308     861fac19fffffff 2019-05-03 18:00:00      1
19309     86b2c5467ffffff 2019-07-29 06:00:00      1

[19310 rows x 3 columns]

      h3_hex_big_id_start      datetime_start  count
0         861e247b7ffffff 2019-01-24 09:00:00      2
1         861e247b7ffffff 2019-02-05 17:00:00      2
2         861e247b7ffffff 2019-02-05 18:00:00      1
3         861e247b7ffffff 2019-02-05 19:00:00      1
4         861e247b7ffffff 2019-02-12 13:00:00      1
...                   ...                 ...    ...
34135     861fac18fffffff 2019-05-04 09:00:00      1
34136     861fac18fffffff 2019-05-04 15:00:00      2
34137     861fac18fffffff 2019-05-04 17:00:00      1
34138     861fac19fffffff 2019-05-03 18:00:00      1
34139     86b2c5467ffffff 2019-07-29 06:00:00      1

[34140 rows x 3 columns]

### Test into which aggregation time period an example trip will count

In [17]:
dataset[(dataset["datetime_start"] == "2019-09-08 00:00:00")]

,p_bike_racks_start,p_spot_start,p_booked_bikes_start,p_place_type_start,datetime_start,b_number_start,p_uid_start,p_bikes_start,p_lat_start,b_electric_lock_start,b_bike_type_start,p_name_start,p_free_racks_start,b_lock_types_start,p_number_start,p_lng_start,b_boardcomputer_start,p_maintenance_start,p_bike_racks_end,p_spot_end,p_booked_bikes_end,p_place_type_end,datetime_end,p_uid_end,p_bikes_end,p_lat_end,p_name_end,p_free_racks_end,p_number_end,p_lng_end,p_maintenance_end,air_deg,air_hum,rain_mm,rain_yn,sun_hour,wind_ms,month_start,month_end,day_start,day_end,day_of_week_start,day_of_week_end,hour_start,hour_end,day_of_year_start,day_of_year_end,season,weekend,booking_date_start,trip_duration,idle_time,h3_hex_small_id_start,h3_hex_small_id_end,h3_hex_big_id_start,h3_hex_big_id_end,count
395250,0,False,0,12,2019-09-08,93267,21682928,1,51.088751,True,71,BIKE 93267,0,frame_lock,0.0,13.79986,7551003439,False,0,False,0,12,2019-09-08 01:24:00,21688100,1,51.063769,BIKE 93267,0,0.0,13.748174,False,11.4,91.3,0.0,0.0,0.0,1.2,9,9,8,8,6,6,0,1,251,251,4,True,2019-09-08 00:00:00,84.0,149.0,881f1b094bfffff,881f1b54b1fffff,861f1b097ffffff,861f1b54fffffff,1

In [18]:
display(df_6_hex_small[(df_6_hex_small["h3_hex_small_id_start"] == "891f1b094bbffff") & (df_6_hex_small["datetime_start"] == "2019-09-07 18:00:00")])
display(df_6_hex_small[(df_6_hex_small["h3_hex_small_id_start"] == "891f1b094bbffff") & (df_6_hex_small["datetime_start"] == "2019-09-08 00:00:00")])
display(df_6_hex_small[(df_6_hex_small["h3_hex_small_id_start"] == "891f1b094bbffff") & (df_6_hex_small["datetime_start"] == "2019-09-08 06:00:00")])

Empty DataFrame
Columns: [h3_hex_small_id_start, datetime_start, count, 6_agg_time]
Index: []

Empty DataFrame
Columns: [h3_hex_small_id_start, datetime_start, count, 6_agg_time]
Index: []

Empty DataFrame
Columns: [h3_hex_small_id_start, datetime_start, count, 6_agg_time]
Index: []


### Merge temporal datasets to our Trips.csv
First, define a method which merges every data for one time resolution

In [19]:
def merge_demand_to_trips(df, time_res):
    print("=== Merging demand for time resolution:", time_res, "hours ===")
    if time_res == "24":
        df_time = df_24
        df_hex_small = df_24_hex_small
        df_hex_big = df_24_hex_big
    elif time_res == "6":
        df_time = df_6
        df_hex_small = df_6_hex_small
        df_hex_big = df_6_hex_big
    elif time_res == "2":
        df_time = df_2
        df_hex_small = df_2_hex_small
        df_hex_big = df_2_hex_big
    elif time_res == "1":
        df_time = df_1
        df_hex_small = df_1_hex_small
        df_hex_big = df_1_hex_big
    else:
        print("Invalid time resolution given. Pick one of: 24, 6, 2, 1.")
        return df
    
    # demand per time resolution
    print("Merging demand for whole city...")
    df_full = pd.merge_asof(df.sort_values('datetime_start'), 
                            df_time,
                            left_on='datetime_start',
                            right_on='datetime_start',
                            allow_exact_matches=True,
                            direction='backward')
    df_full.rename(columns={'count':time_res+'_demand',},
                    inplace=True)
    
    # demand per time resolution and big hexagon
    print("Merging demand for big hexagons...")
    df_full = pd.merge_asof(df_full.sort_values('datetime_start'), 
                            df_hex_big.sort_values("datetime_start"),
                            left_on='datetime_start', 
                            right_on='datetime_start',
                            by="h3_hex_big_id_start",
                            allow_exact_matches=True,
                            direction='backward')
    df_full.rename(columns={'count':time_res+'_demand_hex_big'}, 
                    inplace=True)
    
    # demand per time resolution and small hexagon
    print("Merging demand for small hexagons...")
    df_full = pd.merge_asof(df_full.sort_values('datetime_start'), 
                            df_hex_small.sort_values("datetime_start"),
                            left_on='datetime_start', 
                            right_on='datetime_start',
                            by="h3_hex_small_id_start",
                            allow_exact_matches=True,
                            direction='backward')
    df_full.rename(columns={'count':time_res+'_demand_hex_small'}, 
                    inplace=True)
    
    print()
    return df_full

Delete count column as it was only a placeholder for temporal dataset calculation

In [20]:
df_full = dataset.drop("count", axis=1)

Run defined method with all time resolutions & show result

In [21]:
time_resolutions = ["24", "6", "2", "1"]

for time in time_resolutions:
    df_full = merge_demand_to_trips(df=df_full, time_res=time)

=== Merging demand for time resolution: 24 hours ===
Merging demand for whole city...
Merging demand for big hexagons...
Merging demand for small hexagons...

=== Merging demand for time resolution: 6 hours ===
Merging demand for whole city...
Merging demand for big hexagons...
Merging demand for small hexagons...

=== Merging demand for time resolution: 2 hours ===
Merging demand for whole city...
Merging demand for big hexagons...
Merging demand for small hexagons...

=== Merging demand for time resolution: 1 hours ===
Merging demand for whole city...
Merging demand for big hexagons...
Merging demand for small hexagons...

In [22]:
df_show = df_full[["datetime_start",
                 "h3_hex_small_id_start",
                 "h3_hex_big_id_start",
                 "24_demand",
                 "24_demand_hex_big",
                 "24_demand_hex_small",
                 "24_agg_time",
                 "6_demand",
                 "6_demand_hex_big",
                 "6_demand_hex_small",
                 "6_agg_time",
                 "2_demand",
                 "2_demand_hex_big",
                 "2_demand_hex_small",
                 "2_agg_time",
                 "1_demand",
                 "1_demand_hex_big",
                 "1_demand_hex_small",
                 "1_agg_time"
                ]]

print()
print("Number of NaNs:", df_show.isna().sum().sum())
print("Show rows with NaN values:")
display(df_show[df_show.isna().any(axis=1)])
print()
print("Show head of result:")
display(df_show.head(20))

Number of NaNs: 0
Show rows with NaN values:

Empty DataFrame
Columns: [datetime_start, h3_hex_small_id_start, h3_hex_big_id_start, 24_demand, 24_demand_hex_big, 24_demand_hex_small, 24_agg_time, 6_demand, 6_demand_hex_big, 6_demand_hex_small, 6_agg_time, 2_demand, 2_demand_hex_big, 2_demand_hex_small, 2_agg_time, 1_demand, 1_demand_hex_big, 1_demand_hex_small, 1_agg_time]
Index: []

Show head of result:

,datetime_start,h3_hex_small_id_start,h3_hex_big_id_start,24_demand,24_demand_hex_big,24_demand_hex_small,24_agg_time,6_demand,6_demand_hex_big,6_demand_hex_small,6_agg_time,2_demand,2_demand_hex_big,2_demand_hex_small,2_agg_time,1_demand,1_demand_hex_big,1_demand_hex_small,1_agg_time
0,2019-01-20 00:00:00,881f1b54bbfffff,861f1b54fffffff,265,65,17,2019-01-20,47,13,3,2019-01-20,27,7,2,2019-01-20,19,5,2,2019-01-20 00:00:00
1,2019-01-20 00:05:00,881f1b4609fffff,861f1b467ffffff,265,146,7,2019-01-20,47,25,2,2019-01-20,27,13,2,2019-01-20,19,8,2,2019-01-20 00:00:00
2,2019-01-20 00:07:00,881f1b5591fffff,861f1b55fffffff,265,27,6,2019-01-20,47,5,2,2019-01-20,27,5,2,2019-01-20,19,5,2,2019-01-20 00:00:00
3,2019-01-20 00:07:00,881f1b5591fffff,861f1b55fffffff,265,27,6,2019-01-20,47,5,2,2019-01-20,27,5,2,2019-01-20,19,5,2,2019-01-20 00:00:00
4,2019-01-20 00:07:00,881f1b54b9fffff,861f1b54fffffff,265,65,10,2019-01-20,47,13,2,2019-01-20,27,7,2,2019-01-20,19,5,2,2019-01-20 00:00:00
5,2019-01-20 00:21:00,881f1b4613fffff,861f1b467ffffff,265,146,1,2019-01-20,47,25,1,2019-01-20,27,13,1,2019-01-20,19,8,1,2019-01-20 00:00:00
6,2019-01-20 00:26:00,881f1b4661fffff,861f1b467ffffff,265,146,1,2019-01-20,47,25,1,2019-01-20,27,13,1,2019-01-20,19,8,1,2019-01-20 00:00:00
7,2019-01-20 00:29:00,881f1b4653fffff,861f1b467ffffff,265,146,5,2019-01-20,47,25,1,2019-01-20,27,13,1,2019-01-20,19,8,1,2019-01-20 00:00:00
8,2019-01-20 00:31:00,881f1b54b1fffff,861f1b54fffffff,265,65,13,2019-01-20,47,13,6,2019-01-20,27,7,3,2019-01-20,19,5,1,2019-01-20 00:00:00
9,2019-01-20 00:33:00,881f1b466bfffff,861f1b467ffffff,265,146,12,2019-01-20,47,25,2,2019-01-20,27,13,2,2019-01-20,19,8,1,2019-01-20 00:00:00
10,2019-01-20 00:34:00,881f1b54b9fffff,861f1b54fffffff,265,65,10,2019-01-20,47,13,2,2019-01-20,27,7,2,2019-01-20,19,5,2,2019-01-20 00:00:00
11,2019-01-20 00:39:00,881f1b54bbfffff,861f1b54fffffff,265,65,17,2019-01-20,47,13,3,2019-01-20,27,7,2,2019-01-20,19,5,2,2019-01-20 00:00:00
12,2019-01-20 00:39:00,881f1b4609fffff,861f1b467ffffff,265,146,7,2019-01-20,47,25,2,2019-01-20,27,13,2,2019-01-20,19,8,2,2019-01-20 00:00:00
13,2019-01-20 00:48:00,881f1b4643fffff,861f1b467ffffff,265,146,21,2019-01-20,47,25,3,2019-01-20,27,13,1,2019-01-20,19,8,1,2019-01-20 00:00:00
14,2019-01-20 00:53:00,881f1b0965fffff,861f1b097ffffff,265,25,12,2019-01-20,47,3,1,2019-01-20,27,2,1,2019-01-20,19,1,1,2019-01-20 00:00:00
15,2019-01-20 00:55:00,881f1b5593fffff,861f1b55fffffff,265,27,11,2019-01-20,47,5,3,2019-01-20,27,5,3,2019-01-20,19,5,3,2019-01-20 00:00:00
16,2019-01-20 00:55:00,881f1b4647fffff,861f1b467ffffff,265,146,16,2019-01-20,47,25,3,2019-01-20,27,13,1,2019-01-20,19,8,1,2019-01-20 00:00:00
17,2019-01-20 00:56:00,881f1b5593fffff,861f1b55fffffff,265,27,11,2019-01-20,47,5,3,2019-01-20,27,5,3,2019-01-20,19,5,3,2019-01-20 00:00:00
18,2019-01-20 00:58:00,881f1b5593fffff,861f1b55fffffff,265,27,11,2019-01-20,47,5,3,2019-01-20,27,5,3,2019-01-20,19,5,3,2019-01-20 00:00:00
19,2019-01-20 01:01:00,881f1b54b1fffff,861f1b54fffffff,265,65,13,2019-01-20,47,13,6,2019-01-20,27,7,3,2019-01-20,8,2,2,2019-01-20 01:00:00

### Counts based on end time

In [23]:
#datetime conversion
df_full = df_full.sort_values(by=['datetime_end'], ascending=True)
df_full["datetime_end"] = pd.to_datetime(df_full["datetime_end"])
df_full["count"] = 1

In [24]:
dataset_end = df_full.copy()
print("Number of NaNs:", dataset_end.isna().sum().sum())

Number of NaNs: 140

In [25]:
# Counts based on end time
# whole city
df_24_end = dataset_end.resample("1D", on="datetime_end").agg({"count":"count"})
df_6_end = dataset_end.resample("6H", on="datetime_end").agg({"count":"count"})
# small hexagons
df_24_hex_small_end = dataset_end.groupby("h3_hex_small_id_end").resample("1D", on="datetime_end", label="left").agg({"count":"count"})
df_6_hex_small_end = dataset_end.groupby("h3_hex_small_id_end").resample("6H", on="datetime_end", label="left").agg({"count":"count"})
# big hexagons
df_24_hex_big_end = dataset_end.groupby("h3_hex_big_id_end").resample("1D", on="datetime_end", label="left").agg({"count":"count"})
df_6_hex_big_end = dataset_end.groupby("h3_hex_big_id_end").resample("6H", on="datetime_end", label="left").agg({"count":"count"})

In [26]:
print("Number of NaNs in df_24:", df_24_end.isna().sum().sum())
print("Number of NaNs in df_6:", df_6_end.isna().sum().sum())

df_24_end = df_24_end[df_24_end["count"] != 0]
df_6_end = df_6_end[df_6_end["count"] != 0]

display(df_24_end,df_6_end)

Number of NaNs in df_24: 0
Number of NaNs in df_6: 0

              count
datetime_end
2019-01-20      265
2019-01-21      529
2019-01-22      477
2019-01-23      530
2019-01-24     1092
...             ...
2020-01-16     1520
2020-01-17     1033
2020-01-18      810
2020-01-19      733
2020-01-20     1050

[363 rows x 1 columns]

                     count
datetime_end
2019-01-20 00:00:00     45
2019-01-20 06:00:00     52
2019-01-20 12:00:00    100
2019-01-20 18:00:00     68
2019-01-21 00:00:00     12
...                    ...
2020-01-19 18:00:00    209
2020-01-20 00:00:00     33
2020-01-20 06:00:00    299
2020-01-20 12:00:00    464
2020-01-20 18:00:00    254

[1450 rows x 1 columns]

In [27]:
print("Number of NaNs in df_24:", df_24_hex_small_end.isna().sum().sum())
print("Number of NaNs in df_6:", df_6_hex_small_end.isna().sum().sum())

df_24_hex_small_end = df_24_hex_small_end[df_24_hex_small_end["count"] != 0]
df_24_hex_small_end.reset_index(inplace=True)
df_24_hex_small_end["24_agg_time_end"] = df_24_hex_small_end["datetime_end"]

df_6_hex_small_end = df_6_hex_small_end[df_6_hex_small_end["count"] != 0]
df_6_hex_small_end.reset_index(inplace=True)
df_6_hex_small_end["6_agg_time_end"] = df_6_hex_small_end["datetime_end"]

display(df_24_hex_small_end,df_6_hex_small_end)

Number of NaNs in df_24: 0
Number of NaNs in df_6: 0

      h3_hex_small_id_end datetime_end  count 24_agg_time_end
0         881e247b63fffff   2019-01-24      2      2019-01-24
1         881e247b63fffff   2019-02-05      4      2019-02-05
2         881e247b63fffff   2019-02-12     23      2019-02-12
3         881e247b63fffff   2019-02-13     22      2019-02-13
4         881e247b63fffff   2019-02-14      2      2019-02-14
...                   ...          ...    ...             ...
30735     881fac19dbfffff   2019-05-03      1      2019-05-03
30736     881fac19dbfffff   2019-05-04      1      2019-05-04
30737     882a992289fffff   2019-09-05      1      2019-09-05
30738     882b8d096bfffff   2019-02-14      1      2019-02-14
30739     88b2c5464bfffff   2019-11-02      1      2019-11-02

[30740 rows x 4 columns]

      h3_hex_small_id_end        datetime_end  count      6_agg_time_end
0         881e247b63fffff 2019-01-24 06:00:00      2 2019-01-24 06:00:00
1         881e247b63fffff 2019-02-05 12:00:00      2 2019-02-05 12:00:00
2         881e247b63fffff 2019-02-05 18:00:00      2 2019-02-05 18:00:00
3         881e247b63fffff 2019-02-12 12:00:00      9 2019-02-12 12:00:00
4         881e247b63fffff 2019-02-12 18:00:00     14 2019-02-12 18:00:00
...                   ...                 ...    ...                 ...
79463     881fac19dbfffff 2019-05-03 12:00:00      1 2019-05-03 12:00:00
79464     881fac19dbfffff 2019-05-04 12:00:00      1 2019-05-04 12:00:00
79465     882a992289fffff 2019-09-05 18:00:00      1 2019-09-05 18:00:00
79466     882b8d096bfffff 2019-02-14 06:00:00      1 2019-02-14 06:00:00
79467     88b2c5464bfffff 2019-11-02 18:00:00      1 2019-11-02 18:00:00

[79468 rows x 4 columns]

In [28]:
print("Number of NaNs in df_24:", df_24_hex_big_end.isna().sum().sum())
print("Number of NaNs in df_6:", df_6_hex_big_end.isna().sum().sum())

df_24_hex_big_end = df_24_hex_big_end[df_24_hex_big_end["count"] != 0]
df_24_hex_big_end.reset_index(inplace=True)

df_6_hex_big_end = df_6_hex_big_end[df_6_hex_big_end["count"] != 0]
df_6_hex_big_end.reset_index(inplace=True)

display(df_24_hex_big_end,df_6_hex_big_end)

Number of NaNs in df_24: 0
Number of NaNs in df_6: 0

     h3_hex_big_id_end datetime_end  count
0      861e247b7ffffff   2019-01-24      2
1      861e247b7ffffff   2019-02-05      4
2      861e247b7ffffff   2019-02-12     23
3      861e247b7ffffff   2019-02-13     22
4      861e247b7ffffff   2019-02-14      2
...                ...          ...    ...
2458   861fac18fffffff   2019-05-04      5
2459   861fac19fffffff   2019-05-03      1
2460   862a9922fffffff   2019-09-05      1
2461   862b8d097ffffff   2019-02-14      1
2462   86b2c5467ffffff   2019-11-02      1

[2463 rows x 3 columns]

     h3_hex_big_id_end        datetime_end  count
0      861e247b7ffffff 2019-01-24 06:00:00      2
1      861e247b7ffffff 2019-02-05 12:00:00      2
2      861e247b7ffffff 2019-02-05 18:00:00      2
3      861e247b7ffffff 2019-02-12 12:00:00      9
4      861e247b7ffffff 2019-02-12 18:00:00     14
...                ...                 ...    ...
7796   861fac18fffffff 2019-05-04 12:00:00      3
7797   861fac19fffffff 2019-05-03 12:00:00      1
7798   862a9922fffffff 2019-09-05 18:00:00      1
7799   862b8d097ffffff 2019-02-14 06:00:00      1
7800   86b2c5467ffffff 2019-11-02 18:00:00      1

[7801 rows x 3 columns]

In [29]:
display(df_6_hex_small_end[(df_6_hex_small_end["h3_hex_small_id_end"] == "891f1b4646fffff") & (df_6_hex_small_end["datetime_end"] == "2019-01-20 00:00:00")])
display(df_6_hex_small_end[(df_6_hex_small_end["h3_hex_small_id_end"] == "891f1b4646fffff") & (df_6_hex_small_end["datetime_end"] == "2019-01-20 01:00:00")])
display(df_6_hex_small_end[(df_6_hex_small_end["h3_hex_small_id_end"] == "891f1b4646fffff") & (df_6_hex_small_end["datetime_end"] == "2019-01-20 02:00:00")])

Empty DataFrame
Columns: [h3_hex_small_id_end, datetime_end, count, 6_agg_time_end]
Index: []

Empty DataFrame
Columns: [h3_hex_small_id_end, datetime_end, count, 6_agg_time_end]
Index: []

Empty DataFrame
Columns: [h3_hex_small_id_end, datetime_end, count, 6_agg_time_end]
Index: []

In [30]:
dataset_end[(dataset_end["datetime_end"] > "2019-01-20 00:00:00") & (dataset_end["datetime_end"] < "2019-01-20 02:00:00")]
# dataset_end[dataset_end["h3_hex_small_id_end"] == "891f1b4646fffff"]

,p_bike_racks_start,p_spot_start,p_booked_bikes_start,p_place_type_start,datetime_start,b_number_start,p_uid_start,p_bikes_start,p_lat_start,b_electric_lock_start,b_bike_type_start,p_name_start,p_free_racks_start,b_lock_types_start,p_number_start,p_lng_start,b_boardcomputer_start,p_maintenance_start,p_bike_racks_end,p_spot_end,p_booked_bikes_end,p_place_type_end,datetime_end,p_uid_end,p_bikes_end,p_lat_end,p_name_end,p_free_racks_end,p_number_end,p_lng_end,p_maintenance_end,air_deg,air_hum,rain_mm,rain_yn,sun_hour,wind_ms,month_start,month_end,day_start,day_end,day_of_week_start,day_of_week_end,hour_start,hour_end,day_of_year_start,day_of_year_end,season,weekend,booking_date_start,trip_duration,idle_time,h3_hex_small_id_start,h3_hex_small_id_end,h3_hex_big_id_start,h3_hex_big_id_end,24_demand,24_demand_hex_big,24_demand_hex_small,24_agg_time,6_demand,6_demand_hex_big,6_demand_hex_small,6_agg_time,2_demand,2_demand_hex_big,2_demand_hex_small,2_agg_time,1_demand,1_demand_hex_big,1_demand_hex_small,1_agg_time,count
3,0,False,0,12,2019-01-20 00:07:00,93322,12098234,1,51.041798,False,0,BIKE 93322,0,analog_code_lock,0.0,13.689620,1265,False,0,False,0,12,2019-01-20 00:09:00,12098234,1,51.041798,BIKE 93322,0,0.0,13.689620,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,2.0,0.0,881f1b5591fffff,881f1b5591fffff,861f1b55fffffff,861f1b55fffffff,265,27,6,2019-01-20,47,5,2,2019-01-20,27,5,2,2019-01-20,19,5,2,2019-01-20 00:00:00,1
1,0,True,0,0,2019-01-20 00:05:00,93576,10299640,5,51.038210,False,15,Wohnheim Gret-Palucca.Straße / Lenneplatz,0,analog_code_lock,4486.0,13.744712,0,False,0,False,0,12,2019-01-20 00:15:00,12099344,1,51.049069,BIKE 93576,0,0.0,13.744122,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,10.0,0.0,881f1b4609fffff,881f1b465dfffff,861f1b467ffffff,861f1b467ffffff,265,146,7,2019-01-20,47,25,2,2019-01-20,27,13,2,2019-01-20,19,8,2,2019-01-20 00:00:00,1
0,0,False,0,12,2019-01-20 00:00:00,93771,12095573,1,51.071262,False,15,BIKE 93771,0,analog_code_lock,0.0,13.750380,22532,False,0,False,0,12,2019-01-20 00:28:00,12099518,1,51.046234,BIKE 93771,0,0.0,13.693052,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,28.0,0.0,881f1b54bbfffff,881f1b5599fffff,861f1b54fffffff,861f1b55fffffff,265,65,17,2019-01-20,47,13,3,2019-01-20,27,7,2,2019-01-20,19,5,2,2019-01-20 00:00:00,1
6,0,False,0,12,2019-01-20 00:26:00,93478,12098942,1,51.028163,False,0,BIKE 93478,0,analog_code_lock,0.0,13.710755,1206,False,0,True,0,0,2019-01-20 00:28:00,10299678,1,51.023416,Räcknitzhöhe,0,4491.0,13.742453,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,2.0,0.0,881f1b4661fffff,881f1b4605fffff,861f1b467ffffff,861f1b467ffffff,265,146,1,2019-01-20,47,25,1,2019-01-20,27,13,1,2019-01-20,19,8,1,2019-01-20 00:00:00,1
7,0,True,0,0,2019-01-20 00:29:00,93577,264599,1,51.044740,False,15,Mosenstraße,0,analog_code_lock,4392.0,13.777725,0,False,0,True,0,0,2019-01-20 00:31:00,264599,1,51.044740,Mosenstraße,0,4392.0,13.777725,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,2.0,0.0,881f1b4653fffff,881f1b4653fffff,861f1b467ffffff,861f1b467ffffff,265,146,5,2019-01-20,47,25,1,2019-01-20,27,13,1,2019-01-20,19,8,1,2019-01-20 00:00:00,1
2,0,True,0,0,2019-01-20 00:07:00,93440,10299584,1,51.042570,True,0,Malterstraße (Haltestelle),0,frame_lock,4483.0,13.691130,7551004130,False,0,True,0,0,2019-01-20 00:33:00,4405670,3,51.028370,Wundtstr. / Zellescher Weg,0,4458.0,13.747730,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,26.0,0.0,881f1b5591fffff,881f1b4601fffff,861f1b55fffffff,861f1b467ffffff,265,27,6,2019-01-20,47,5,2,2019-01-20,27,5,2,2019-01-20,19,5,2,2019-01-20 00:00:00,1
5,0,True,0,0,2019-01-20 00:21:00,93660,45444,1,51.025741,False,15,Panometer,0,analog_code_lock,4310.0,13.789338,0,False,0,True,0,0,2019-01-20 00:33:00,264532,1,51.034938,Altenberger Platz,0,4336.0,13.807733,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,12.0,0.0,881f1b4613fffff,881f1b46cdfffff,861f1b467ffffff,861f1b46fffffff,265,146,1,2019-01-20,47,25,1,2019-01-20,27,13,1,2019-01-20,19,8,1,2019-01-20 00:00:00,1
4,0,True,0,0,2019-01-20 00:07:00,93585,264575,5,51.071740,False,15,Friedensstraße/Conradstr.,0,analog_code_lock,4373.0,13.741257,0,False,0,True,0,0,2019-01-20 00:35:00,264575,5,51.071740,Friedensstraße/Conradstr.,0,4373.0,13.741257,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,28.0,0.0,881f1b54b9fffff,881f1b54b9fffff,861f1b54fffffff,861f1b54fffffff,265,65,10,2019-01-20,47,13,2,2019-01-20,27,7,2,2019-01-20,19,5,2,2019-01-20 00:00:00,1
12,0,False,0,12,2019-01-20 00:39:00,93783,12084759,1,51.033646,False,15,BIKE 93783,0,analog_code_lock,0.0,13.740399,23248,False,0,True,0,0,2019-01-20 00:45:00,4405670,4,51.028370,Wundtstr. / Zellescher Weg,0,4458.0,13.747730,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,6.0,0.0,881f1b4609fffff,881f1b4601fffff,861f1b467ffffff,861f1b467ffffff,265,146,7,2019-01-20,47,25,2,2019-01-20,27,13,2,2019-01-20,19,8,2,2019-01-20 00:00:00,1
9,0,True,0,0,2019-01-20 00:33:00,93785,264548,2,51.033767,False,15,Nürnberger Ei,0,analog_code_lock,4348.0,13.722911,22556,False,0,True,0,0,2019-01-20 00:49:00,4405670,5,51.028370,Wundtstr. / Zellescher Weg,0,4458.0,13.747730,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,16.0,0.0,881f1b466bfffff,881f1b4601fffff,861f1b467ffffff,861f1b467ffffff,265,146,12,2019-01-20,47,25,2,2019-01-20,27,13,2,2019-01-20,19,8,1,2019-01-20 00:00:00,1
10,0,True,0,0,2019-01-20 00:34:00,93314,264575,5,51.071740,False,0,Friedensstraße/Conradstr.,0,analog_code_lock,4373.0,13.741257,1392,False,0,True,0,0,2019-01-20 00:49:00,10299599,2,51.067980,Louisenstraße,0,4484.0,13.747540,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,15.0,0.0,881f1b54b9fffff,881f1b54bbfffff,861f1b54fffffff,861f1b54fffffff,265,65,10,2019-01-20,47,13,2,2019-01-20,27,7,2,2019-01-20,19,5,2,2019-01-20 00:00:00,1
11,0,True,0,0,2019-01-20 00:39:00,93644,10299599,2,51.067980,False,15,Louisenstraße,0,analog_code_lock,4484.0,13.747540,0,False,0,True,0,0,2019-01-20 00:57:00,264557,4,51.077649,Altpieschen,0,4355.0,13.716710,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,18.0,0.0,881f1b54bbfffff,881f1b5485fffff,861f1b54fffffff,861f1b54fffffff,265,65,17,2019-01-20,47,13,3,2019-01-20,27,7,2,2019-01-20,19,5,2,2019-01-20 00:00:00,1
16,0,True,0,0,2019-01-20 00:55:00,93766,4783708,5,51.034415,False,15,Reichenbachstr. / Fritz-Löffler-Str.,0,analog_code_lock,4464.0,13.730555,23836,False,0,True,0,0,2019-01-20 00:58:00,4783708,5,51.034415,Reichenbachstr. / Fritz-Löffler-Str.,0,4464.0,13.730555,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,3.0,0.0,881f1b4647fffff,881f1b4647fffff,861f1b467ffffff,861f1b467ffffff,265,146,16,2019-01-20,47,25,3,2019-01-20,27,13,1,2019-01-20,19,8,1,2019-01-20 00:00:00,1
13,0,True,0,0,2019-01-20 00:48:00,93320,127640,5,51.044598,False,15,Vapiano / Prager Str.,0,analog_code_lock,4402.0,13.736354,1333,False,0,True,0,0,2019-01-20 00:59:00,310790,1,51.044035,Kesselsdorfer Str. / Reisewitzer Str.,0,4436.0,13.700842,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,11.0,0.0,881f1b4643fffff,881f1b559bfffff,861f1b467ffffff,861f1b55fffffff,265,146,21,2019-01-20,47,25,3,2019-01-20,27,13,1,2019-01-20,19,8,1,2019-01-20 00:00:00,1
15,0,False,0,12,2019-01-20 00:55:00,93607,12098097,1,51.038574,False,15,BIKE 93607,0,analog_code_lock,0.0,13.701841,0,False,0,True,0,0,2019-01-20 01:01:00,310792,1,51.038466,Bonhoeffer Platz,0,4438.0,13.701679,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,0,1,20,20,1,True,2019-01-20 00:00:00,6.0,0.0,881f1b5593fffff,881f1b5593fffff,861f1b55fffffff,861f1b55fffffff,265,27,11,2019-01-20,47,5,3,2019-01-20,27,5,3,2019-01-20,19,5,3,2019-01-20 00:00:00,1
8,0,True,0,0,2019-01-20 00:31:00,93258,38955,2,51.060231,False,0,Palaisplatz,0,analog_code_lock,4403.0,13.739294,1322,False,0,True,0,0,2019-01-20 01:02:00,121771,4,51.071144,Schauburg,0,4327.0,13.750328,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,0,1,20,20,1,True,2019-01-20 00:00:00,31.0,0.0,881f1b54b1fffff,881f1b54bbfffff,861f1b54fffffff,861f1b54fffffff,265,65,13,2019-01-20,47,13,6,2019-01-20,27,7,3,2019-01-20,19,5,1,2019-01-20 00:00:00,1
14,0,True,0,0,2019-01-20 00:53:00,93430,264595,2,51.058771,False,0,Gutenbergstraße,0,analog_code_lock,4389.0,13.769281,1499,False,0,True,0,0,2019-01-20 01:05:00,217380,3,51.052361,Frauenkirche Dresden,0,4408.0,13.741912,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,0,1,20,20,1,True,2019-01-20 00:00:00,12.0,0.0,881f1b0965fffff,881f1b54b7fffff,861f1b097ffffff,861f1b467ffffff,265,25,12,2019-01-20,47,3,1,2019-01-20,27,2,1,2019-01-20,19,1,1,2019-01-20 00:00:00,1
19,0,False,0,12,2019-01-20 01:01:00,93449,12093358,1,51.060174,False,0,BIKE 93449,0,analog_code_lock,0.0,13.746439,1424,False,0,True,0,0,2019-01-20 01:10:00,273621,1,51.060090,Park Inn,0,4423.0,13.751380,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,1,1,20,20,1,True,2019-01-20 00:00:00,9.0,0.0,881f1b54b1fffff,881f1b54b3fffff,861f1b54fffffff,861f1b54fffffff,265,65,13,2019-01-20,47,13,6,2019-01-20,27,7,3,2019-01-20,8,2,2,2019-01-20 01:00:00,1
17,0,True,0,0,2019-01-20 00:56:00,93053,310792,2,51.038466,True,15,Bonhoeffer Platz,0,frame_lock,4438.0,13.701679,7551003814,False,0,True,0,0,2019-01-20 01:12:00,264548,2,51.033767,Nürnberger Ei,0,4348.0,13.722911,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,0,1,20,20,1,True,2019-01-20 00:00:00,16.0,0.0,881f1b5593fffff,881f1b466bfffff,861f1b55fffffff,861f1b467ffffff,265,27,11,2019-01-20,47,5,3,2019-01-20,27,5,3,2019-01-20,19,5,3,2019-01-20 00:00:00,1
20,0,True,0,0,2019-01-20 01:03:00,93556,264601,1,51.058829,False,15,Pfotenhauer Straße,0,analog_code_lock,4394.0,13.777639,0,False,0,True,0,0,2019-01-20 01:16:00,264599,2,51.044740,Mosenstraße,0,4392.0,13.777725,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,1,1,20,20,1,True,2019-01-20 00:00:00,13.0,0.0,881f1b0967fffff,881f1b4653fffff,861f1b097ffffff,861f1b467ffffff,265,25,3,2019-01-20,47,3,1,2019-01-20,27,2,1,2019-01-20,8,1,1,2019-01-20 01:00:00,1
21,0,False,0,12,2019-01-20 01:08:00,93153,12097143,1,51.052524,True,0,BIKE 93153,0,frame_lock,0.0,13.739616,7551006387,False,0,False,0,12,2019-01-20 01:17:00,12100214,1,51.047720,BIKE 93153,0,0.0,13.727372,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,1,1,20,20,1,True,2019-01-20 00:00:00,9.0,0.0,881f1b464bfffff,881f1b4641fffff,861f1b467ffffff,861f1b467ffffff,265,146,10,2019-01-20,47,25,2,2019-01-20,27,13,2,2019-01-20,8,5,2,2019-01-20 01:00:00,1
18,0,True,0,0,2019-01-20 00:58:00,93408,310792,1,51.038466,False,0,Bonhoeffer Platz,0,analog_code_lock,4438.0,13.701679,1387,False,0,False,0,12,2019-01-20 01:19:00,12100250,1,51.036169,BIKE 93408,0,0.0,13.731687,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,0,1,20,20,1,True,2019-01-20 00:00:00,21.0,0.0,881f1b5593fffff,881f1b4647fffff,861f1b55fffffff,861f1b467ffffff,265,27,11,2019-01-20,47,5,3,2019-01-20,27,5,3,2019-01-20,19,5,3,2019-01-20 00:00:00,1
22,0,True,0,7,2019-01-20 01:20:00,93346,14103,2,51.046156,False,0,Ibis Hotel Königstein / Prager Straße,0,analog_code_lock,4417.0,13.736576,1275,False,0,True,0,0,2019-01-20 01:30:00,4405747,5,51.032520,Lukasstr. / Hochschulstr.,0,4463.0,13.732500,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,1,1,20,20,1,True,2019-01-20 00:00:00,10.0,0.0,881f1b464bfffff,881f1b460dfffff,861f1b467ffffff,861f1b467ffffff,265,146,10,2019-01-20,47,25,2,2019-01-20,27,13,2,2019-01-20,8,5,2,2019-01-20 01:00:00,1
23,0,True,0,0,2019-01-20 01:21:00,93694,10299434,2,51.046490,True,15,Stadtteilzentrum Straßburger Platz,0,frame_lock,4468.0,13.755990,7551007272,False,0,True,0,0,2019-01-20 01:35:00,264589,2,51.028123,Wasaplatz,0,4385.0,13.758869,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,1,1,20,20,1,True,2019-01-20 00:00:00,14.0,0.0,881f1b4651fffff,881f1b4603fffff,861f1b467ffffff,861f1b467ffffff,265,146,2,2019-01-20,47,25,1,2019-01-20,27,13,1,2019-01-20,8,5,1,2019-01-20 01:00:00,1
24,0,True,0,0,2019-01-20 01:26:00,93720,2985,3,51.063896,False,15,Albertplatz,0,analog_code_lock,4302.0,13.747314,23109,False,0,False,0,12,2019-01-20 01:39:00,12100495,1,51.048856,BIKE 93720,0,0.0,13.741591,False,-3.4,75.0,0.0,0.0,0.0,4.4,1,1,20,20,6,6,1,1,20,20,1,True,2019-01-20 00:00:00,13.0,0.0,881f1b54b1fffff,881f1b464bfffff,861f1b54fffffff,861f1b467ffffff,265,65,13,2019-01-20,47,13,6,2019-01-20,27,7,3,2019-01-20,8,2,2,2019-01-20 01:00:00,1
25,0,True,0,0,2019-01-20 01:43:00,93777,264586,2,51.031520,False,15,Nürnberger Platz,0,analog_code_lock,4382.0,13.726285,23226,False,0,True,0,0,2019-01-20 01:51:00,4405670,5,51.028370,Wundtstr. / Zellescher Weg,0,4458.0,13.747730,False,-3.7,78.0,0.0,0.0,0.0,4.6,1,1,20,20,6,6,1,1,20,20,1,True,2019-01-20 00:00:00,8.0,0.0,881f1b466bfffff,881f1b4601fffff,861f1b467ffffff,861f1b467ffffff,265,146,12,2019-01-20,47,25,2,2019-01-20,27,13,2,2019-01-20,8,5,1,2019-01-20 01:00:00,1

In [31]:
def merge_end_demand(_df, time_res):
    print("=== Merging END demand for time resolution:", time_res, "hours ===")
    if time_res == "24":
        df_time = df_24_end
        df_hex_small = df_24_hex_small_end
        df_hex_big = df_24_hex_big_end
    elif time_res == "6":
        df_time = df_6_end
        df_hex_small = df_6_hex_small_end
        df_hex_big = df_6_hex_big_end
    else:
        print("Invalid time resolution given. Pick one of: 24, 6.")
        return _df
    
    # demand per time resolution
    print("END: Merging demand for whole city...")
    df_full_end = pd.merge_asof(_df.sort_values('datetime_end'), 
                            df_time.sort_values("datetime_end"),
                            left_on='datetime_end',
                            right_on='datetime_end',
                            allow_exact_matches=True,
                            direction='backward')
    df_full_end.rename(columns={'count':time_res+'_demand_end'},
                    inplace=True)
    
    # demand per time resolution and big hexagon
    print("END: Merging demand for big hexagons...")
    df_full_end = pd.merge_asof(df_full_end.sort_values('datetime_end'), 
                            df_hex_big.sort_values("datetime_end"),
                            left_on='datetime_end', 
                            right_on='datetime_end',
                            by="h3_hex_big_id_end",
                            allow_exact_matches=True,
                            direction='backward')
    df_full_end.rename(columns={'count':time_res+'_demand_hex_big_end'}, 
                    inplace=True)
    
    # demand per time resolution and small hexagon
    print("END: Merging demand for small hexagons...")
    df_full_end = pd.merge_asof(df_full_end.sort_values('datetime_end'), 
                            df_hex_small.sort_values("datetime_end"),
                            left_on='datetime_end', 
                            right_on='datetime_end',
                            by="h3_hex_small_id_end",
                            allow_exact_matches=True,
                            direction='backward')
    df_full_end.rename(columns={'count':time_res+'_demand_hex_small_end'}, 
                    inplace=True)
    
    print()
    return df_full_end

In [32]:
df_full_end = dataset_end.drop("count", axis=1)

In [33]:
df_full_end = merge_end_demand(_df=df_full_end, time_res="24")
df_full_end = merge_end_demand(_df=df_full_end, time_res="6")
print("Done")

=== Merging END demand for time resolution: 24 hours ===
END: Merging demand for whole city...
END: Merging demand for big hexagons...
END: Merging demand for small hexagons...

=== Merging END demand for time resolution: 6 hours ===
END: Merging demand for whole city...
END: Merging demand for big hexagons...
END: Merging demand for small hexagons...

Done

In [34]:
df_full_end

,p_bike_racks_start,p_spot_start,p_booked_bikes_start,p_place_type_start,datetime_start,b_number_start,p_uid_start,p_bikes_start,p_lat_start,b_electric_lock_start,b_bike_type_start,p_name_start,p_free_racks_start,b_lock_types_start,p_number_start,p_lng_start,b_boardcomputer_start,p_maintenance_start,p_bike_racks_end,p_spot_end,p_booked_bikes_end,p_place_type_end,datetime_end,p_uid_end,p_bikes_end,p_lat_end,p_name_end,p_free_racks_end,p_number_end,p_lng_end,p_maintenance_end,air_deg,air_hum,rain_mm,rain_yn,sun_hour,wind_ms,month_start,month_end,day_start,day_end,day_of_week_start,day_of_week_end,hour_start,hour_end,day_of_year_start,day_of_year_end,season,weekend,booking_date_start,trip_duration,idle_time,h3_hex_small_id_start,h3_hex_small_id_end,h3_hex_big_id_start,h3_hex_big_id_end,24_demand,24_demand_hex_big,24_demand_hex_small,24_agg_time,6_demand,6_demand_hex_big,6_demand_hex_small,6_agg_time,2_demand,2_demand_hex_big,2_demand_hex_small,2_agg_time,1_demand,1_demand_hex_big,1_demand_hex_small,1_agg_time,24_demand_end,24_demand_hex_big_end,24_demand_hex_small_end,24_agg_time_end,6_demand_end,6_demand_hex_big_end,6_demand_hex_small_end,6_agg_time_end
0,0,False,0,12,2019-01-20 00:07:00,93322,12098234,1,51.041798,False,0,BIKE 93322,0,analog_code_lock,0.0,13.689620,1265,False,0,False,0,12,2019-01-20 00:09:00,12098234,1,51.041798,BIKE 93322,0,0.0,13.689620,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,2.0,0.0,881f1b5591fffff,881f1b5591fffff,861f1b55fffffff,861f1b55fffffff,265,27,6,2019-01-20,47,5,2,2019-01-20 00:00:00,27,5,2,2019-01-20 00:00:00,19,5,2,2019-01-20 00:00:00,265,24,4,2019-01-20,45,6.0,1.0,2019-01-20 00:00:00
1,0,True,0,0,2019-01-20 00:05:00,93576,10299640,5,51.038210,False,15,Wohnheim Gret-Palucca.Straße / Lenneplatz,0,analog_code_lock,4486.0,13.744712,0,False,0,False,0,12,2019-01-20 00:15:00,12099344,1,51.049069,BIKE 93576,0,0.0,13.744122,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,10.0,0.0,881f1b4609fffff,881f1b465dfffff,861f1b467ffffff,861f1b467ffffff,265,146,7,2019-01-20,47,25,2,2019-01-20 00:00:00,27,13,2,2019-01-20 00:00:00,19,8,2,2019-01-20 00:00:00,265,151,7,2019-01-20,45,30.0,1.0,2019-01-20 00:00:00
2,0,False,0,12,2019-01-20 00:00:00,93771,12095573,1,51.071262,False,15,BIKE 93771,0,analog_code_lock,0.0,13.750380,22532,False,0,False,0,12,2019-01-20 00:28:00,12099518,1,51.046234,BIKE 93771,0,0.0,13.693052,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,28.0,0.0,881f1b54bbfffff,881f1b5599fffff,861f1b54fffffff,861f1b55fffffff,265,65,17,2019-01-20,47,13,3,2019-01-20 00:00:00,27,7,2,2019-01-20 00:00:00,19,5,2,2019-01-20 00:00:00,265,24,1,2019-01-20,45,6.0,1.0,2019-01-20 00:00:00
3,0,False,0,12,2019-01-20 00:26:00,93478,12098942,1,51.028163,False,0,BIKE 93478,0,analog_code_lock,0.0,13.710755,1206,False,0,True,0,0,2019-01-20 00:28:00,10299678,1,51.023416,Räcknitzhöhe,0,4491.0,13.742453,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,2.0,0.0,881f1b4661fffff,881f1b4605fffff,861f1b467ffffff,861f1b467ffffff,265,146,1,2019-01-20,47,25,1,2019-01-20 00:00:00,27,13,1,2019-01-20 00:00:00,19,8,1,2019-01-20 00:00:00,265,151,2,2019-01-20,45,30.0,1.0,2019-01-20 00:00:00
4,0,True,0,0,2019-01-20 00:29:00,93577,264599,1,51.044740,False,15,Mosenstraße,0,analog_code_lock,4392.0,13.777725,0,False,0,True,0,0,2019-01-20 00:31:00,264599,1,51.044740,Mosenstraße,0,4392.0,13.777725,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,2.0,0.0,881f1b4653fffff,881f1b4653fffff,861f1b467ffffff,861f1b467ffffff,265,146,5,2019-01-20,47,25,1,2019-01-20 00:00:00,27,13,1,2019-01-20 00:00:00,19,8,1,2019-01-20 00:00:00,265,151,6,2019-01-20,45,30.0,2.0,2019-01-20 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567434,0,True,0,0,2020-01-20 23:33:00,93824,73,1,51.065184,True,71,Bf. Dresden-Neustadt,0,frame_lock,4332.0,13.741220,7551016033,False,0,True,0,0,2020-01-20 23:45:00,264558,3,51.089747,Hubertusplatz,0,4356.0,13.723367,False,-2.4,91.7,0.0,0.0,0.0,3.2,1,1,20,20,0,0,23,23,20,20,1,False,2020-01-20 00:00:00,12.0,99.0,881f1b54b1fffff,881f1b5489fffff,861f1b54fffffff,861f1b54fffffff,1050,213,36,2020-01-20,236,64,15,2020-01-20 18:00:00,48,19,6,2020-01-20 22:00:00,23,9,5,2020-01-20 23:00:00,1050,225,4,2020-01-20,254,84.0,1.0,2020-01-20 18:00:00
567435,0,True,0,0,2020-01-20 23:29:00,93908,11248297,3,51.043537,True,71,Tharandter Straße,0,frame_lock,4507.0,13.703979,7551012906,False,0,True,0,0,2020-01-20 23:46:00,4405670,4,51.028370,Wundtstr. / Zellescher Weg,0,4458.0,13.747730,False,-1.6,91.7,0.0,0.0,0.0,3.3,1,1,20,20,0,0,23,23,20,20,1,False,2020-01-20 00:00:00,17.0,27.0,881f1b5593fffff,881f1b4601fffff,861f1b55fffffff,861f1b467ffffff,1050,57,31,2020-01-20,236,18,12,2020-01-20 18:00:00,48,3,3,2020-01-20 22:00:00,23,2,2,2020-01-20 23:00:00,1050,686,55,2020-01-20,254,127.0,7.0,2020-01-20 18:00:00
567436,0,True,0,0,2020-01-20 23:23:00,93629,4783708,4,51.034415,True,71,Reichenbachstr. / Fritz-Löffler-Str.,0,frame_lock,4464.0,13.730555,7551005289,False,0,True,0,0,2020-01-20 23:49:00,264600,3,51.047455,Holbeinstraße,0,4393.0,13.779216,False,-1.6,91.7,0.0,0.0,0.0,3.3,1,1,20,20,0,0,23,23,20,20,1,False,2020-01-20 00:00:00,26.0,254.0,881f1b4647fffff,881f1b092dfffff,861f1b467ffffff,861f1b097ffffff,1050,704,42,2020-01-20,236,139,10,2020-01-20 18:00:00,48,25,3,2020-01-20 22:00:00,23,12,2,2020-01-20 23:00:00,1050,84,6,2020-01-20,254,18.0,1.0,2020-01-20 18:00:00
567437,0,True,0,0,2020-01-20 23:29:00,93857,310792,6,51.038466,True,71,Bonhoeffer Platz,0,frame_lock,4438.0,13.701679,7551012762,False,0,True,0,0,2020-01-20 23:49:00,10299848,16,51.070350,Alexander-Puschkin-Platz,0,4504.0,13.729830,False,-1.6,91.7,0.0,0.0,0.0,3.3,1,1,20,20,0,0,23,23,20,20,1,False,2020-01-20 00:00:00,20.0,25.0,881f1b5593fffff,881f1b5487fffff,861f1b55fffffff,861f1b54fffffff,1050,57,31,2020-01-20,236,18,12,2020-01-20 18:00:00,48,3,3,2020-01-20 22:00:00,23,2,2,2020-01-20 23:00:00,1050,225,7,2020-01-20,254,84.0,4.0,2020-01-20 18:00:00
567438,0,False,0,12,2020-01-20 23:36:00,93454,27150164,1,51.044302,True,71,BIKE 93454,0,frame_lock,0.0,13.738484,7551002419,False,0,True,0,0,2020-01-20 23:50:00,10299848,17,51.070350,Alexander-Puschkin-Platz,0,4504.0,13.729830,False,-2.4,91.7,0.0,0.0,0.0,3.2,1,1,20,20,0,0,23,23,20,20,1,False,2020-01-20 00:00:00,14.0,229.0,881f1b4643fffff,881f1b5487fffff,861f1b467ffffff,861f1b54fffffff,1050,704,90,2020-01-20,236,139,20,2020-01-20 18:00:00,48,25,4,2020-01-20 22:00:00,23,12,2,2020-01-20 23:00:00,1050,225,7,2020-01-20,254,84.0,4.0,2020-01-20 18:00:00

In [35]:
df_show_end = df_full_end[["datetime_end",
                 "h3_hex_small_id_end",
                 "h3_hex_big_id_end",
                 "24_demand_end",
                 "24_demand_hex_big_end",
                 "24_demand_hex_small_end",
                 "24_agg_time_end",
                 "6_demand_end",
                 "6_demand_hex_big_end",
                 "6_demand_hex_small_end",
                 "6_agg_time_end"]]

print()
print("Number of NaNs:", df_show_end.isna().sum().sum())
print("Show rows with NaN values:")
display(df_show_end[df_show_end.isna().any(axis=1)])
print()
print("Show head of result:")
display(df_show_end.head(20))

Number of NaNs: 19
Show rows with NaN values:

,datetime_end,h3_hex_small_id_end,h3_hex_big_id_end,24_demand_end,24_demand_hex_big_end,24_demand_hex_small_end,24_agg_time_end,6_demand_end,6_demand_hex_big_end,6_demand_hex_small_end,6_agg_time_end
44,2019-01-20 05:48:00,881f1b4659fffff,861f1b467ffffff,265,151,5,2019-01-20,45,30.0,NaN,NaT
7020,2019-02-01 17:30:00,881f1b54a5fffff,861f1b55fffffff,644,55,1,2019-02-01,242,16.0,NaN,NaT
7446,2019-02-02 17:04:00,881f1b0903fffff,861f1b097ffffff,394,24,2,2019-02-02,88,4.0,NaN,NaT
110046,2019-04-20 11:29:00,881f1b4453fffff,861f1b447ffffff,1759,2,1,2019-04-20,372,1.0,NaN,NaT
184082,2019-05-30 17:59:00,881f1b46b3fffff,861f1b46fffffff,1853,34,1,2019-05-30,792,17.0,NaN,NaT
311456,2019-07-26 11:39:00,881f1b40b5fffff,861f1b40fffffff,2263,1,1,2019-07-26,540,NaN,NaN,NaT
311476,2019-07-26 11:51:00,881f1b48dbfffff,861f1b4f7ffffff,2263,1,1,2019-07-26,540,1.0,NaN,NaT
348956,2019-08-13 11:49:00,881f1b71a3fffff,861f1b71fffffff,2184,1,1,2019-08-13,526,2.0,NaN,NaT
363561,2019-08-21 11:41:00,881f1b19a9fffff,861f1b19fffffff,2007,1,1,2019-08-21,472,1.0,NaN,NaT

Show head of result:

,datetime_end,h3_hex_small_id_end,h3_hex_big_id_end,24_demand_end,24_demand_hex_big_end,24_demand_hex_small_end,24_agg_time_end,6_demand_end,6_demand_hex_big_end,6_demand_hex_small_end,6_agg_time_end
0,2019-01-20 00:09:00,881f1b5591fffff,861f1b55fffffff,265,24,4,2019-01-20,45,6.0,1.0,2019-01-20
1,2019-01-20 00:15:00,881f1b465dfffff,861f1b467ffffff,265,151,7,2019-01-20,45,30.0,1.0,2019-01-20
2,2019-01-20 00:28:00,881f1b5599fffff,861f1b55fffffff,265,24,1,2019-01-20,45,6.0,1.0,2019-01-20
3,2019-01-20 00:28:00,881f1b4605fffff,861f1b467ffffff,265,151,2,2019-01-20,45,30.0,1.0,2019-01-20
4,2019-01-20 00:31:00,881f1b4653fffff,861f1b467ffffff,265,151,6,2019-01-20,45,30.0,2.0,2019-01-20
5,2019-01-20 00:33:00,881f1b4601fffff,861f1b467ffffff,265,151,16,2019-01-20,45,30.0,6.0,2019-01-20
6,2019-01-20 00:33:00,881f1b46cdfffff,861f1b46fffffff,265,2,1,2019-01-20,45,1.0,1.0,2019-01-20
7,2019-01-20 00:35:00,881f1b54b9fffff,861f1b54fffffff,265,63,12,2019-01-20,45,8.0,1.0,2019-01-20
8,2019-01-20 00:45:00,881f1b4601fffff,861f1b467ffffff,265,151,16,2019-01-20,45,30.0,6.0,2019-01-20
9,2019-01-20 00:49:00,881f1b4601fffff,861f1b467ffffff,265,151,16,2019-01-20,45,30.0,6.0,2019-01-20
10,2019-01-20 00:49:00,881f1b54bbfffff,861f1b54fffffff,265,63,12,2019-01-20,45,8.0,2.0,2019-01-20
11,2019-01-20 00:57:00,881f1b5485fffff,861f1b54fffffff,265,63,1,2019-01-20,45,8.0,1.0,2019-01-20
12,2019-01-20 00:58:00,881f1b4647fffff,861f1b467ffffff,265,151,13,2019-01-20,45,30.0,4.0,2019-01-20
13,2019-01-20 00:59:00,881f1b559bfffff,861f1b55fffffff,265,24,8,2019-01-20,45,6.0,3.0,2019-01-20
14,2019-01-20 01:01:00,881f1b5593fffff,861f1b55fffffff,265,24,8,2019-01-20,45,6.0,1.0,2019-01-20
15,2019-01-20 01:02:00,881f1b54bbfffff,861f1b54fffffff,265,63,12,2019-01-20,45,8.0,2.0,2019-01-20
16,2019-01-20 01:05:00,881f1b54b7fffff,861f1b467ffffff,265,151,1,2019-01-20,45,30.0,1.0,2019-01-20
17,2019-01-20 01:10:00,881f1b54b3fffff,861f1b54fffffff,265,63,6,2019-01-20,45,8.0,1.0,2019-01-20
18,2019-01-20 01:12:00,881f1b466bfffff,861f1b467ffffff,265,151,10,2019-01-20,45,30.0,2.0,2019-01-20
19,2019-01-20 01:16:00,881f1b4653fffff,861f1b467ffffff,265,151,6,2019-01-20,45,30.0,2.0,2019-01-20

### Analyze NaNs / no NaNs

In [36]:
#this did not work as expected
#logically, 24_sum should never be nan, while 1_sum could be nan quite often.
display(df_full.isna().sum())
# 24_sum                   699
# 6_sum                     75
# 2_sum                     23
# 1_sum                      3
#df_full
display(df_full_end.isna().sum())

p_bike_racks_start      0
p_spot_start            0
p_booked_bikes_start    0
p_place_type_start      0
datetime_start          0
                       ..
1_demand                0
1_demand_hex_big        0
1_demand_hex_small      0
1_agg_time              0
count                   0
Length: 73, dtype: int64

p_bike_racks_start        0
p_spot_start              0
p_booked_bikes_start      0
p_place_type_start        0
datetime_start            0
                         ..
24_agg_time_end           0
6_demand_end              0
6_demand_hex_big_end      1
6_demand_hex_small_end    9
6_agg_time_end            9
Length: 80, dtype: int64

In [37]:
#the merge did not work for 20th of January, 2020! 
#this might be, because no matching datetime_start was found
df = df_full_end

df_show = df[df['24_demand'].isnull()]
df_show = df_show[['datetime_start','24_demand','6_demand','2_demand','1_demand']]
display(df_show)
print(df_show.to_string())

#Whats the reason? maybe merge direction 'nearest' is bad for this task? --> NOPE
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_asof.html

# A “backward” search selects the last row in the right DataFrame --> 300.000 NaNs
# whose ‘on’ key is less than or equal to the left’s key.

# A “forward” search selects the first row in the right DataFrame --> 200.000 NaNs
# whose ‘on’ key is greater than or equal to the left’s key.

# A “nearest” search selects the row in the right DataFrame --> 700 NaNs
# whose ‘on’ key is closest in absolute distance to the left’s key

#Maybe resampling method is not entirely correct?
#https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.resample.html

Empty DataFrame
Columns: [datetime_start, 24_demand, 6_demand, 2_demand, 1_demand]
Index: []

Empty DataFrame
Columns: [datetime_start, 24_demand, 6_demand, 2_demand, 1_demand]
Index: []

### Check if timedeltas caused any issues / no issues

In [38]:
df_full_end[df_full_end['24_agg_time']=='2020-01-21']
#keine verschiebung der booking sums

Empty DataFrame
Columns: [p_bike_racks_start, p_spot_start, p_booked_bikes_start, p_place_type_start, datetime_start, b_number_start, p_uid_start, p_bikes_start, p_lat_start, b_electric_lock_start, b_bike_type_start, p_name_start, p_free_racks_start, b_lock_types_start, p_number_start, p_lng_start, b_boardcomputer_start, p_maintenance_start, p_bike_racks_end, p_spot_end, p_booked_bikes_end, p_place_type_end, datetime_end, p_uid_end, p_bikes_end, p_lat_end, p_name_end, p_free_racks_end, p_number_end, p_lng_end, p_maintenance_end, air_deg, air_hum, rain_mm, rain_yn, sun_hour, wind_ms, month_start, month_end, day_start, day_end, day_of_week_start, day_of_week_end, hour_start, hour_end, day_of_year_start, day_of_year_end, season, weekend, booking_date_start, trip_duration, idle_time, h3_hex_small_id_start, h3_hex_small_id_end, h3_hex_big_id_start, h3_hex_big_id_end, 24_demand, 24_demand_hex_big, 24_demand_hex_small, 24_agg_time, 6_demand, 6_demand_hex_big, 6_demand_hex_small, 6_agg_time, 2_demand, 2_demand_hex_big, 2_demand_hex_small, 2_agg_time, 1_demand, 1_demand_hex_big, 1_demand_hex_small, 1_agg_time, 24_demand_end, 24_demand_hex_big_end, 24_demand_hex_small_end, 24_agg_time_end, 6_demand_end, 6_demand_hex_big_end, 6_demand_hex_small_end, 6_agg_time_end]
Index: []

In [39]:
df_full_end[df_full_end['24_agg_time']=='2019-01-19']
#keine verschiebung der booking sums

Empty DataFrame
Columns: [p_bike_racks_start, p_spot_start, p_booked_bikes_start, p_place_type_start, datetime_start, b_number_start, p_uid_start, p_bikes_start, p_lat_start, b_electric_lock_start, b_bike_type_start, p_name_start, p_free_racks_start, b_lock_types_start, p_number_start, p_lng_start, b_boardcomputer_start, p_maintenance_start, p_bike_racks_end, p_spot_end, p_booked_bikes_end, p_place_type_end, datetime_end, p_uid_end, p_bikes_end, p_lat_end, p_name_end, p_free_racks_end, p_number_end, p_lng_end, p_maintenance_end, air_deg, air_hum, rain_mm, rain_yn, sun_hour, wind_ms, month_start, month_end, day_start, day_end, day_of_week_start, day_of_week_end, hour_start, hour_end, day_of_year_start, day_of_year_end, season, weekend, booking_date_start, trip_duration, idle_time, h3_hex_small_id_start, h3_hex_small_id_end, h3_hex_big_id_start, h3_hex_big_id_end, 24_demand, 24_demand_hex_big, 24_demand_hex_small, 24_agg_time, 6_demand, 6_demand_hex_big, 6_demand_hex_small, 6_agg_time, 2_demand, 2_demand_hex_big, 2_demand_hex_small, 2_agg_time, 1_demand, 1_demand_hex_big, 1_demand_hex_small, 1_agg_time, 24_demand_end, 24_demand_hex_big_end, 24_demand_hex_small_end, 24_agg_time_end, 6_demand_end, 6_demand_hex_big_end, 6_demand_hex_small_end, 6_agg_time_end]
Index: []

In [40]:
df_full_end.head(100)

,p_bike_racks_start,p_spot_start,p_booked_bikes_start,p_place_type_start,datetime_start,b_number_start,p_uid_start,p_bikes_start,p_lat_start,b_electric_lock_start,b_bike_type_start,p_name_start,p_free_racks_start,b_lock_types_start,p_number_start,p_lng_start,b_boardcomputer_start,p_maintenance_start,p_bike_racks_end,p_spot_end,p_booked_bikes_end,p_place_type_end,datetime_end,p_uid_end,p_bikes_end,p_lat_end,p_name_end,p_free_racks_end,p_number_end,p_lng_end,p_maintenance_end,air_deg,air_hum,rain_mm,rain_yn,sun_hour,wind_ms,month_start,month_end,day_start,day_end,day_of_week_start,day_of_week_end,hour_start,hour_end,day_of_year_start,day_of_year_end,season,weekend,booking_date_start,trip_duration,idle_time,h3_hex_small_id_start,h3_hex_small_id_end,h3_hex_big_id_start,h3_hex_big_id_end,24_demand,24_demand_hex_big,24_demand_hex_small,24_agg_time,6_demand,6_demand_hex_big,6_demand_hex_small,6_agg_time,2_demand,2_demand_hex_big,2_demand_hex_small,2_agg_time,1_demand,1_demand_hex_big,1_demand_hex_small,1_agg_time,24_demand_end,24_demand_hex_big_end,24_demand_hex_small_end,24_agg_time_end,6_demand_end,6_demand_hex_big_end,6_demand_hex_small_end,6_agg_time_end
0,0,False,0,12,2019-01-20 00:07:00,93322,12098234,1,51.041798,False,0,BIKE 93322,0,analog_code_lock,0.0,13.689620,1265,False,0,False,0,12,2019-01-20 00:09:00,12098234,1,51.041798,BIKE 93322,0,0.0,13.689620,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,2.0,0.0,881f1b5591fffff,881f1b5591fffff,861f1b55fffffff,861f1b55fffffff,265,27,6,2019-01-20,47,5,2,2019-01-20 00:00:00,27,5,2,2019-01-20 00:00:00,19,5,2,2019-01-20 00:00:00,265,24,4,2019-01-20,45,6.0,1.0,2019-01-20 00:00:00
1,0,True,0,0,2019-01-20 00:05:00,93576,10299640,5,51.038210,False,15,Wohnheim Gret-Palucca.Straße / Lenneplatz,0,analog_code_lock,4486.0,13.744712,0,False,0,False,0,12,2019-01-20 00:15:00,12099344,1,51.049069,BIKE 93576,0,0.0,13.744122,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,10.0,0.0,881f1b4609fffff,881f1b465dfffff,861f1b467ffffff,861f1b467ffffff,265,146,7,2019-01-20,47,25,2,2019-01-20 00:00:00,27,13,2,2019-01-20 00:00:00,19,8,2,2019-01-20 00:00:00,265,151,7,2019-01-20,45,30.0,1.0,2019-01-20 00:00:00
2,0,False,0,12,2019-01-20 00:00:00,93771,12095573,1,51.071262,False,15,BIKE 93771,0,analog_code_lock,0.0,13.750380,22532,False,0,False,0,12,2019-01-20 00:28:00,12099518,1,51.046234,BIKE 93771,0,0.0,13.693052,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,28.0,0.0,881f1b54bbfffff,881f1b5599fffff,861f1b54fffffff,861f1b55fffffff,265,65,17,2019-01-20,47,13,3,2019-01-20 00:00:00,27,7,2,2019-01-20 00:00:00,19,5,2,2019-01-20 00:00:00,265,24,1,2019-01-20,45,6.0,1.0,2019-01-20 00:00:00
3,0,False,0,12,2019-01-20 00:26:00,93478,12098942,1,51.028163,False,0,BIKE 93478,0,analog_code_lock,0.0,13.710755,1206,False,0,True,0,0,2019-01-20 00:28:00,10299678,1,51.023416,Räcknitzhöhe,0,4491.0,13.742453,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,2.0,0.0,881f1b4661fffff,881f1b4605fffff,861f1b467ffffff,861f1b467ffffff,265,146,1,2019-01-20,47,25,1,2019-01-20 00:00:00,27,13,1,2019-01-20 00:00:00,19,8,1,2019-01-20 00:00:00,265,151,2,2019-01-20,45,30.0,1.0,2019-01-20 00:00:00
4,0,True,0,0,2019-01-20 00:29:00,93577,264599,1,51.044740,False,15,Mosenstraße,0,analog_code_lock,4392.0,13.777725,0,False,0,True,0,0,2019-01-20 00:31:00,264599,1,51.044740,Mosenstraße,0,4392.0,13.777725,False,-3.3,75.3,0.0,0.0,0.0,4.3,1,1,20,20,6,6,0,0,20,20,1,True,2019-01-20 00:00:00,2.0,0.0,881f1b4653fffff,881f1b4653fffff,861f1b467ffffff,861f1b467ffffff,265,146,5,2019-01-20,47,25,1,2019-01-20 00:00:00,27,13,1,2019-01-20 00:00:00,19,8,1,2019-01-20 00:00:00,265,151,6,2019-01-20,45,30.0,2.0,2019-01-20 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,True,0,0,2019-01-20 11:43:00,93513,176054,1,51.068905,False,15,Bischofsweg / Kamenzer Str.,0,analog_code_lock,4312.0,13.758976,0,False,0,False,0,12,2019-01-20 11:52:00,12110212,1,51.065136,BIKE 93513,0,0.0,13.741144,False,0.5,61.7,0.0,0.0,60.0,1.6,1,1,20,20,6,6,11,11,20,20,1,True,2019-01-20 00:00:00,9.0,0.0,881f1b54bbfffff,881f1b54b1fffff,861f1b54fffffff,861f1b54fffffff,265,65,17,2019-01-20,60,13,6,2019-01-20 06:00:00,24,5,3,2019-01-20 10:00:00,13,2,1,2019-01-20 11:00:00,265,63,13,2019-01-20,52,8.0,4.0,2019-01-20 06:00:00
96,0,True,0,0,2019-01-20 11:49:00,93514,10299537,3,51.050166,True,15,Cottaer Straße (Haltestelle),0,frame_lock,4481.0,13.712477,7551003358,False,0,False,0,12,2019-01-20 11:55:00,12110278,1,51.049733,BIKE 93514,0,0.0,13.722048,False,0.5,61.7,0.0,0.0,60.0,1.6,1,1,20,20,6,6,11,11,20,20,1,True,2019-01-20 00:00:00,6.0,0.0,881f1b54a7fffff,881f1b4649fffff,861f1b54fffffff,861f1b467ffffff,265,65,8,2019-01-20,60,13,2,2019-01-20 06:00:00,24,5,1,2019-01-20 10:00:00,13,2,1,2019-01-20 11:00:00,265,151,4,2019-01-20,52,36.0,1.0,2019-01-20 00:00:00
97,0,True,0,0,2019-01-20 11:56:00,93607,310790,4,51.044035,False,15,Kesselsdorfer Str. / Reisewitzer Str.,0,analog_code_lock,4436.0,13.700842,0,False,0,True,0,0,2019-01-20 12:03:00,310792,1,51.038466,Bonhoeffer Platz,0,4438.0,13.701679,False,0.5,61.7,0.0,0.0,60.0,1.6,1,1,20,20,6,6,11,12,20,20,1,True,2019-01-20 00:00:00,7.0,137.0,881f1b559bfffff,881f1b5593fffff,861f1b55fffffff,861f1b55fffffff,265,27,7,2019-01-20,60,6,2,2019-01-20 06:00:00,24,3,2,2019-01-20 10:00:00,13,2,2,2019-01-20 11:00:00,265,24,8,2019-01-20,100,11.0,5.0,2019-01-20 12:00:00
98,0,False,0,12,2019-01-20 11:20:00,93408,12100250,1,51.036350,False,0,BIKE 93408,0,analog_code_lock,0.0,13.731226,1387,False,6,True,0,0,2019-01-20 12:09:00,329097,3,51.051370,Schillergalerie,3,4399.0,13.804289,False,-1.0,67.3,0.0,0.0,60.0,1.8,1,1,20,20,6,6,11,12,20,20,1,True,2019-01-20 00:00:00,49.0,601.0,881f1b4647fffff,881f1b092bfffff,861f1b467ffffff,861f1b097ffffff,265,146,16,2019-01-20,60,37,6,2019-01-20 06:00:00,24,13,5,2019-01-20 10:00:00,13,7,5,2019-01-20 11:00:00,265,25,6,2019-01-20,100,13.0,5.0,2019-01-20 12:00:00
99,0,True,0,0,2019-01-20 11:02:00,93777,264586,1,51.031520,False,15,Nürnberger Platz,0,analog_code_lock,4382.0,13.726285,23226,False,6,True,0,0,2019-01-20 12:09:00,329097,3,51.051370,Schillergalerie,3,4399.0,13.804289,False,-1.0,67.3,0.0,0.0,60.0,1.8,1,1,20,20,6,6,11,12,20,20,1,True,2019-01-20 00:00:00,67.0,135.0,881f1b466bfffff,881f1b092bfffff,861f1b467ffffff,861f1b097ffffff,265,146,12,2019-01-20,60,37,4,2019-01-20 06:00:00,24,13,3,2019-01-20 10:00:00,13,7,1,2019-01-20 11:00:00,265,25,6,2019-01-20,100,13.0,5.0,2019-01-20 12:00:00

### Save updated Trips.csv

In [41]:
df_full_end.to_csv(os.path.join(path_output, "Trips.csv"))