In [1]:
import os
import pandas as pd
import glob
import seaborn as sns
import pandas as pd

In [2]:
path_input=os.path.join(os.getcwd(), '../data/input/dresden/')
path_output_weather = os.path.join(os.getcwd(), '../data/output/weather/')
path_output=os.path.join(os.getcwd(), '../data/output/')

In [3]:
df =pd.read_csv(os.path.join(path_output, "Trips.csv"),index_col=0)

In [4]:
#datetime conversion
df = df.sort_values(by=['datetime_start'], ascending=True)
df["datetime_start"] = pd.to_datetime(df["datetime_start"])
df["count"] = 1

In [5]:
#temporal features
for col in ['datetime_start']:
    df['month'] = pd.DatetimeIndex(df['datetime_start']).month
    df['booking_date'] = df.datetime_start.dt.date
    df['weekdays'] = pd.DatetimeIndex(df['datetime_start']).weekday
    df['hour'] = pd.DatetimeIndex(df['datetime_start']).hour
df["booking_date"] = pd.to_datetime(df["booking_date"])
df["hour"] = pd.to_datetime(df["hour"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567439 entries, 0 to 567438
Data columns (total 43 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   p_bike_racks_start     567439 non-null  int64
 1   p_spot_start           567439 non-null  bool
 2   p_booked_bikes_start   567439 non-null  int64
 3   p_place_type_start     567439 non-null  int64
 4   datetime_start         567439 non-null  datetime64[ns]
 5   b_number_start         567439 non-null  int64
 6   p_uid_start            567439 non-null  int64
 7   p_bikes_start          567439 non-null  int64
 8   p_lat_start            567439 non-null  float64
 9   b_electric_lock_start  567439 non-null  bool
 10  b_bike_type_start      567439 non-null  int64
 11  p_name_start           567439 non-null  object
 12  p_free_racks_start     567439 non-null  int64
 13  b_lock_types_start     567439 non-null  object
 14  p_number_start         567377 non-null  float64
 15  p_lng_start            567439 non-null  float64
 16  b_boardcomputer_start  567439 non-null  int64
 17  p_maintenance_start    567439 non-null  bool
 18  p_bike_racks_end       567439 non-null  int64
 19  p_spot_end             567439 non-null  bool
 20  p_booked_bikes_end     567439 non-null  int64
 21  p_place_type_end       567439 non-null  int64
 22  datetime_end           567439 non-null  object
 23  p_uid_end              567439 non-null  int64
 24  p_bikes_end            567439 non-null  int64
 25  p_lat_end              567439 non-null  float64
 26  p_name_end             567439 non-null  object
 27  p_free_racks_end       567439 non-null  int64
 28  p_number_end           567361 non-null  float64
 29  p_lng_end              567439 non-null  float64
 30  p_maintenance_end      567439 non-null  bool
 31  air_deg                567439 non-null  float64
 32  air_hum                567439 non-null  float64
 33  rain_mm                567439 non-null  float64
 34  rain_yn                567439 non-null  float64
 35  sun_hour               567439 non-null  float64
 36  wind_ms                567439 non-null  float64
 37  trip_duration          567439 non-null  float64
 38  count                  567439 non-null  int64
 39  month                  567439 non-null  int64
 40  booking_date           567439 non-null  datetime64[ns]
 41  weekdays               567439 non-null  int64
 42  hour                   567439 non-null  datetime64[ns]
dtypes: bool(5), datetime64[ns](3), float64(13), int64(18), object(4)
memory usage: 171.5+ MB

### How we want to get temporal resolutions
- add 4 columns for each resolution: 24, 6, 2, one hour
- they display # bookings within given time period
- i dont know how this will help with predictions, since we'd still need mean data for those ?

In [6]:
#data by timespan 24H, 1H, 4H, 12H
def setDataset(dataset, temp_resol, columnnamegroupby, functions_dic):
    newDataset = dataset.resample(temp_resol, on =columnnamegroupby).agg(functions_dic)
    return newDataset
#requested resolutions
temp_resol = ['24H', '6H', '2H', '1H']

In [7]:
setDataset(df,'24H','datetime_start',{"count":"count"})

                count
datetime_start
2019-01-20        265
2019-01-21        529
2019-01-22        477
2019-01-23        530
2019-01-24       1092
...               ...
2020-01-16       1520
2020-01-17       1033
2020-01-18        810
2020-01-19        733
2020-01-20       1050

[366 rows x 1 columns]

In [8]:
# #merge from dwd data
# df_full = pd.merge_asof(df_merged.sort_values('datetime_start'), 
#                         df_dwd, left_on='datetime_start', 
#                         right_on='MESS_DATUM', 
#                         tolerance=pd.Timedelta('30 min'),
#                         allow_exact_matches=True, direction='nearest')

In [9]:
# def add_temp_resol(dataset):
#     temp_resol = ['24H', '6H', '2H', '1H']
    
#     for i in temp_resol: 
#         data_temp = dataset
#         data_temp = data_temp.resample(temp_resol, on="datetime_start").agg({"count":"count"})
#         df_full = pd.merge_asof(dataset.sort_values('datetime_start'), 
#                          data_temp, left_on='datetime_start', 
#                          right_on='datetime_start', 
#                          tolerance=pd.Timedelta('24 hours'),
#                          allow_exact_matches=True, direction='nearest')
#     return df_full

In [10]:
dataset = df

In [11]:
#base -> Shifts the base time to calculate from by some time amount
#shifting the base to the middle value of given time interval solved the NaN problem.
#Why? Because of our timedelta, which is half the amount of time of the resampled time interval 
#--> for time interval x we want to sum up all in!
#example: for daily counts aka 24 hours the base will be 12 am, the sum will be from 00:00 am until 23:59 pm
# df_24 = dataset.resample("1D", base=0.5,on="datetime_start").agg({"count":"count"})
# df_6 = dataset.resample("6H", base=3, on="datetime_start").agg({"count":"count"})
# df_2 = dataset.resample("2H", base=1, on="datetime_start").agg({"count":"count"})
# df_1 = dataset.resample("1H", base=0.5, on="datetime_start").agg({"count":"count"})
df_24 = dataset.resample("1D",  on="datetime_start").agg({"count":"count"})
df_6 = dataset.resample("6H", on="datetime_start").agg({"count":"count"})
df_2 = dataset.resample("2H", on="datetime_start").agg({"count":"count"})
df_1 = dataset.resample("1H",  on="datetime_start").agg({"count":"count"})

In [192]:
display(df_24,df_6,df_2,df_1)
#all NaN lol

                count
datetime_start
2019-01-20        265
2019-01-21        529
2019-01-22        477
2019-01-23        530
2019-01-24       1092
2019-01-25        485
2019-01-26        261
2019-01-27        450
2019-01-28        703
2019-01-29        544
2019-01-30        570
2019-01-31        664
2019-02-01        644
2019-02-02        394
2019-02-03        180
2019-02-04        256
2019-02-05       1747
2019-02-06        410
2019-02-07        369
2019-02-08        468
2019-02-09        514
2019-02-10        520
2019-02-11        657
2019-02-12       8415
2019-02-13       8366
2019-02-14       1488
2019-02-15        942
2019-02-16        704
2019-02-17        661
2019-02-18        806
2019-02-19        709
2019-02-20        735
2019-02-21        706
2019-02-22        627
2019-02-23        637
2019-02-24        934
2019-02-25        860
2019-02-26        951
2019-02-27        990
2019-02-28        942
2019-03-01       1047
2019-03-02        521
2019-03-03        540
2019-03-04       7396
2019-03-05        577
2019-03-06        838
2019-03-07       2628
2019-03-08        668
2019-03-09        414
2019-03-10        273
2019-03-11        488
2019-03-12        646
2019-03-13        721
2019-03-14        485
2019-03-15        290
2019-03-16          0
2019-03-17          0
2019-03-18          0
2019-03-19        514
2019-03-20        856
2019-03-21        898
2019-03-22        899
2019-03-23        900
2019-03-24        555
2019-03-25        876
2019-03-26        972
2019-03-27        738
2019-03-28        558
2019-03-29        958
2019-03-30       1140
2019-03-31        683
2019-04-01       1288
2019-04-02       1316
2019-04-03       2245
2019-04-04       1682
2019-04-05       1916
2019-04-06       1597
2019-04-07       1813
2019-04-08       2203
2019-04-09       2143
2019-04-10       1685
2019-04-11       2918
2019-04-12       5026
2019-04-13       1040
2019-04-14       1072
2019-04-15       2022
2019-04-16       1726
2019-04-17       2004
2019-04-18       3099
2019-04-19       2146
2019-04-20       1759
2019-04-21       1507
2019-04-22       1067
2019-04-23       1410
2019-04-24       2215
2019-04-25       2356
2019-04-26       2775
2019-04-27       1626
2019-04-28       1501
2019-04-29       1184
2019-04-30       2638
2019-05-01       1776
2019-05-02       1826
2019-05-03       1549
2019-05-04       1229
2019-05-05        935
2019-05-06       1686
2019-05-07       1506
2019-05-08       2515
2019-05-09       2180
2019-05-10       1745
2019-05-11       1219
2019-05-12       1522
2019-05-13       2388
2019-05-14       1473
2019-05-15       1503
2019-05-16       2452
2019-05-17       1753
2019-05-18       2122
2019-05-19       1815
2019-05-20       2281
2019-05-21       2570
2019-05-22        910
2019-05-23       2140
2019-05-24       2702
2019-05-25       1770
2019-05-26       1960
2019-05-27       2244
2019-05-28       1294
2019-05-29       2446
2019-05-30       1853
2019-05-31       1875
2019-06-01       1093
2019-06-02       1208
2019-06-03       1314
2019-06-04       1661
2019-06-05       2192
2019-06-06       2549
2019-06-07       2126
2019-06-08       1497
2019-06-09       2322
2019-06-10       2192
2019-06-11       2152
2019-06-12       1670
2019-06-13       2872
2019-06-14       2499
2019-06-15       3622
2019-06-16       2415
2019-06-17       2395
2019-06-18       2780
2019-06-19       2905
2019-06-20       2443
2019-06-21       2338
2019-06-22       2425
2019-06-23       1898
2019-06-24       2321
2019-06-25       2269
2019-06-26       2308
2019-06-27       2428
2019-06-28       1995
2019-06-29       2062
2019-06-30       1724
2019-07-01       2903
2019-07-02       2238
2019-07-03       2302
2019-07-04       2342
2019-07-05       2105
2019-07-06       2092
2019-07-07       1607
2019-07-08       2231
2019-07-09       2730
2019-07-10       1904
2019-07-11       6664
2019-07-12       3200
2019-07-13       1456
2019-07-14       1243
2019-07-15       2253
2019-07-16       1969
2019-07-17       2432
2019-07-18       2215
2019-07-19       2147
2019-07-20       2268
2019-07-21       1814
2019-07-22       2097
2019-07-23       1796
2019-07-24       1744
2019-07-25       2552
2019-07-26       2263
2019-07-27       1925
2019-07-28       1811
2019-07-29       2205
2019-07-30       2567
2019-07-31       1640
2019-08-01       2631
2019-08-02       2660
2019-08-03       1883
2019-08-04       1777
2019-08-05       2120
2019-08-06       2427
2019-08-07       1620
2019-08-08       2667
2019-08-09       2339
2019-08-10       1871
2019-08-11       1804
2019-08-12       1666
2019-08-13       2184
2019-08-14       2508
2019-08-15       2079
2019-08-16       1869
2019-08-17       1479
2019-08-18       1311
2019-08-19       1511
2019-08-20       1755
2019-08-21       2007
2019-08-22       1688
2019-08-23       2340
2019-08-24       2361
2019-08-25       1454
2019-08-26       1662
2019-08-27       2388
2019-08-28       1487
2019-08-29       1548
2019-08-30       1701
2019-08-31       1899
2019-09-01       2011
2019-09-02       1484
2019-09-03       1871
2019-09-04       1925
2019-09-05       1943
2019-09-06       1546
2019-09-07        885
2019-09-08       1013
2019-09-09        942
2019-09-10       2206
2019-09-11       1906
2019-09-12       1822
2019-09-13       2236
2019-09-14       1346
2019-09-15       2458
2019-09-16       1804
2019-09-17       2349
2019-09-18       2371
2019-09-19       2054
2019-09-20       2286
2019-09-21       1595
2019-09-22       2029
2019-09-23       1683
2019-09-24       2085
2019-09-25       1180
2019-09-26       1678
2019-09-27        948
2019-09-28       1498
2019-09-29       1270
2019-09-30        997
2019-10-01       1196
2019-10-02        979
2019-10-03        906
2019-10-04       1648
2019-10-05        830
2019-10-06       1171
2019-10-07       1790
2019-10-08       1129
2019-10-09       1574
2019-10-10       1196
2019-10-11       1388
2019-10-12       1848
2019-10-13       2117
2019-10-14       2278
2019-10-15       1664
2019-10-16       2895
2019-10-17       1749
2019-10-18       1511
2019-10-19       1137
2019-10-20       1335
2019-10-21       1459
2019-10-22       1958
2019-10-23       1879
2019-10-24       2955
2019-10-25       1405
2019-10-26       1277
2019-10-27       1566
2019-10-28       1568
2019-10-29       1335
2019-10-30       1234
2019-10-31       1155
2019-11-01        834
2019-11-02        894
2019-11-03        799
2019-11-04       1069
2019-11-05       1278
2019-11-06       1188
2019-11-07       1988
2019-11-08       1912
2019-11-09       1081
2019-11-10       1557
2019-11-11       1053
2019-11-12       1220
2019-11-13       1001
2019-11-14       1267
2019-11-15       1374
2019-11-16       1001
2019-11-17        752
2019-11-18       1034
2019-11-19       1287
2019-11-20        739
2019-11-21       1162
2019-11-22       1236
2019-11-23        829
2019-11-24        764
2019-11-25       1922
2019-11-26       1967
2019-11-27       1032
2019-11-28       1272
2019-11-29       2227
2019-11-30       1231
2019-12-01        678
2019-12-02       1482
2019-12-03       1616
2019-12-04       1206
2019-12-05       1565
2019-12-06       1145
2019-12-07        737
2019-12-08        790
2019-12-09       1215
2019-12-10       1213
2019-12-11       1060
2019-12-12       1099
2019-12-13       1061
2019-12-14        700
2019-12-15       1066
2019-12-16       1074
2019-12-17       1603
2019-12-18       1295
2019-12-19       1319
2019-12-20       1134
2019-12-21        630
2019-12-22        423
2019-12-23        918
2019-12-24        307
2019-12-25        600
2019-12-26        614
2019-12-27        416
2019-12-28       1184
2019-12-29       1214
2019-12-30        425
2019-12-31        453
2020-01-01        404
2020-01-02        504
2020-01-03       1039
2020-01-04        364
2020-01-05        471
2020-01-06        958
2020-01-07        873
2020-01-08        829
2020-01-09       1246
2020-01-10       1061
2020-01-11        722
2020-01-12        659
2020-01-13        935
2020-01-14        965
2020-01-15        913
2020-01-16       1520
2020-01-17       1033
2020-01-18        810
2020-01-19        733
2020-01-20       1050

                     count
datetime_start
2019-01-20 00:00:00     47
2019-01-20 06:00:00     60
2019-01-20 12:00:00    104
2019-01-20 18:00:00     54
2019-01-21 00:00:00     25
...                    ...
2020-01-19 18:00:00    199
2020-01-20 00:00:00     33
2020-01-20 06:00:00    317
2020-01-20 12:00:00    464
2020-01-20 18:00:00    236

[1464 rows x 1 columns]

                     count
datetime_start
2019-01-20 00:00:00     27
2019-01-20 02:00:00     14
2019-01-20 04:00:00      6
2019-01-20 06:00:00      4
2019-01-20 08:00:00     32
...                    ...
2020-01-20 14:00:00    140
2020-01-20 16:00:00    184
2020-01-20 18:00:00    118
2020-01-20 20:00:00     70
2020-01-20 22:00:00     48

[4392 rows x 1 columns]

                     count
datetime_start
2019-01-20 00:00:00     19
2019-01-20 01:00:00      8
2019-01-20 02:00:00      9
2019-01-20 03:00:00      5
2019-01-20 04:00:00      3
...                    ...
2020-01-20 19:00:00     62
2020-01-20 20:00:00     43
2020-01-20 21:00:00     27
2020-01-20 22:00:00     25
2020-01-20 23:00:00     23

[8784 rows x 1 columns]

### merging those temporal datasets together

In [15]:
#24_sum with td of 12 hours
df_full = pd.merge_asof(dataset.sort_values('datetime_start'), 
                    df_24, left_on='booking_date', 
                    right_on='datetime_start', 
                    #tolerance=pd.Timedelta('12 hours'),
                    allow_exact_matches=True, direction='nearest')
#                    allow_exact_matches=True, direction='forward')
df_full.rename(columns={'count_x':'counter',
                          'count_y':'24_sum',}, 
                 inplace=True)
df_full.head(5)

,p_bike_racks_start,p_spot_start,p_booked_bikes_start,p_place_type_start,datetime_start,b_number_start,p_uid_start,p_bikes_start,p_lat_start,b_electric_lock_start,...,rain_yn,sun_hour,wind_ms,trip_duration,counter,month,booking_date,weekdays,hour,24_sum
0,0,False,0,12,2019-01-20 00:00:00,93771,12095573,1,51.071262,False,...,0.0,0.0,4.3,28.0,1,1,2019-01-20,6,1970-01-01,265
1,0,True,0,0,2019-01-20 00:05:00,93576,10299640,5,51.038210,False,...,0.0,0.0,4.3,10.0,1,1,2019-01-20,6,1970-01-01,265
2,0,True,0,0,2019-01-20 00:07:00,93440,10299584,1,51.042570,True,...,0.0,0.0,4.3,26.0,1,1,2019-01-20,6,1970-01-01,265
3,0,False,0,12,2019-01-20 00:07:00,93322,12098234,1,51.041798,False,...,0.0,0.0,4.3,2.0,1,1,2019-01-20,6,1970-01-01,265
4,0,True,0,0,2019-01-20 00:07:00,93585,264575,5,51.071740,False,...,0.0,0.0,4.3,28.0,1,1,2019-01-20,6,1970-01-01,265

In [12]:
df_6

                     count
datetime_start
2019-01-20 00:00:00     47
2019-01-20 06:00:00     60
2019-01-20 12:00:00    104
2019-01-20 18:00:00     54
2019-01-21 00:00:00     25
...                    ...
2020-01-19 18:00:00    199
2020-01-20 00:00:00     33
2020-01-20 06:00:00    317
2020-01-20 12:00:00    464
2020-01-20 18:00:00    236

[1464 rows x 1 columns]

In [235]:
from datetime import datetime

temp = df_6[df_6.index<='2020-01-19 18:00:00']
yolo = temp[temp.index==temp.index.max()]['count']
#yolo = datetime.fromtimestamp(temp.index.max().value)
yolo[0]

199

In [16]:
from datetime import timedelta
from datetime import datetime

def merge(row,df):
    temp = df[df.index<row['datetime_start']]
    try:
        return temp[temp.index==temp.index.max()]['count'][0]        
    except: 
        print('error')
        pass

In [ ]:
df_full['6_sum'] = df_full.apply(lambda row:merge(row, df_6), axis=1)

In [174]:
#6_sum with td of 3 hours
df_full = pd.merge_asof(df_full.sort_values('datetime_start'), 
                    df_6, left_on='datetime_start', 
                    right_on='datetime_start', 
                    tolerance=pd.Timedelta('3 hours'),
                    allow_exact_matches=True, direction='nearest')
#                    allow_exact_matches=True, direction='forward')
df_full.rename(columns={
                          'count':'6_sum',}, 
                 inplace=True)
df_full.head(5)

,p_bike_racks_start,p_spot_start,p_booked_bikes_start,p_place_type_start,datetime_start,b_number_start,p_uid_start,p_bikes_start,p_lat_start,b_electric_lock_start,...,sun_hour,wind_ms,trip_duration,counter,month,booking_date,weekdays,hour,24_sum,6_sum
0,0,False,0,12,2019-01-20 00:00:00,93771,12095573,1,51.071262,False,...,0.0,4.3,28.0,1,1,2019-01-20,6,0,265.0,47.0
1,0,True,0,0,2019-01-20 00:05:00,93576,10299640,5,51.038210,False,...,0.0,4.3,10.0,1,1,2019-01-20,6,0,265.0,47.0
2,0,True,0,0,2019-01-20 00:07:00,93440,10299584,1,51.042570,True,...,0.0,4.3,26.0,1,1,2019-01-20,6,0,265.0,47.0
3,0,False,0,12,2019-01-20 00:07:00,93322,12098234,1,51.041798,False,...,0.0,4.3,2.0,1,1,2019-01-20,6,0,265.0,47.0
4,0,True,0,0,2019-01-20 00:07:00,93585,264575,5,51.071740,False,...,0.0,4.3,28.0,1,1,2019-01-20,6,0,265.0,47.0

In [175]:
#2_sum with td of 1 hours
df_full = pd.merge_asof(df_full.sort_values('datetime_start'), 
                    df_2, left_on='datetime_start', 
                    right_on='datetime_start', 
                    tolerance=pd.Timedelta('1 hours'),
                    allow_exact_matches=True, direction='nearest')
#                    allow_exact_matches=True, direction='forward')
df_full.rename(columns={
                          'count':'2_sum',}, 
                 inplace=True)
df_full.head(5)

,p_bike_racks_start,p_spot_start,p_booked_bikes_start,p_place_type_start,datetime_start,b_number_start,p_uid_start,p_bikes_start,p_lat_start,b_electric_lock_start,...,wind_ms,trip_duration,counter,month,booking_date,weekdays,hour,24_sum,6_sum,2_sum
0,0,False,0,12,2019-01-20 00:00:00,93771,12095573,1,51.071262,False,...,4.3,28.0,1,1,2019-01-20,6,0,265.0,47.0,27.0
1,0,True,0,0,2019-01-20 00:05:00,93576,10299640,5,51.038210,False,...,4.3,10.0,1,1,2019-01-20,6,0,265.0,47.0,27.0
2,0,True,0,0,2019-01-20 00:07:00,93440,10299584,1,51.042570,True,...,4.3,26.0,1,1,2019-01-20,6,0,265.0,47.0,27.0
3,0,False,0,12,2019-01-20 00:07:00,93322,12098234,1,51.041798,False,...,4.3,2.0,1,1,2019-01-20,6,0,265.0,47.0,27.0
4,0,True,0,0,2019-01-20 00:07:00,93585,264575,5,51.071740,False,...,4.3,28.0,1,1,2019-01-20,6,0,265.0,47.0,27.0

In [176]:
#1_sum with td of 0.5 hours
df_full = pd.merge_asof(df_full.sort_values('datetime_start'), 
                    df_1, left_on='datetime_start', 
                    right_on='datetime_start', 
                    tolerance=pd.Timedelta('30 minutes'),
                    allow_exact_matches=True, direction='nearest')
#                    allow_exact_matches=True, direction='forward')
df_full.rename(columns={
                          'count':'1_sum',}, 
                 inplace=True)
df_full.head(5)

,p_bike_racks_start,p_spot_start,p_booked_bikes_start,p_place_type_start,datetime_start,b_number_start,p_uid_start,p_bikes_start,p_lat_start,b_electric_lock_start,...,trip_duration,counter,month,booking_date,weekdays,hour,24_sum,6_sum,2_sum,1_sum
0,0,False,0,12,2019-01-20 00:00:00,93771,12095573,1,51.071262,False,...,28.0,1,1,2019-01-20,6,0,265.0,47.0,27.0,19.0
1,0,True,0,0,2019-01-20 00:05:00,93576,10299640,5,51.038210,False,...,10.0,1,1,2019-01-20,6,0,265.0,47.0,27.0,19.0
2,0,True,0,0,2019-01-20 00:07:00,93440,10299584,1,51.042570,True,...,26.0,1,1,2019-01-20,6,0,265.0,47.0,27.0,19.0
3,0,False,0,12,2019-01-20 00:07:00,93322,12098234,1,51.041798,False,...,2.0,1,1,2019-01-20,6,0,265.0,47.0,27.0,19.0
4,0,True,0,0,2019-01-20 00:07:00,93585,264575,5,51.071740,False,...,28.0,1,1,2019-01-20,6,0,265.0,47.0,27.0,19.0

### dive into nans

In [198]:
#this did not work as expected
#logically, 24_sum should never be nan, while 1_sum could be nan quite often.
df_full.isna().sum()
# 24_sum                   699
# 6_sum                     75
# 2_sum                     23
# 1_sum                      3
#df_full

p_bike_racks_start        0
p_spot_start              0
p_booked_bikes_start      0
p_place_type_start        0
datetime_start            0
b_number_start            0
p_uid_start               0
p_bikes_start             0
p_lat_start               0
b_electric_lock_start     0
b_bike_type_start         0
p_name_start              0
p_free_racks_start        0
b_lock_types_start        0
p_number_start           62
p_lng_start               0
b_boardcomputer_start     0
p_maintenance_start       0
p_bike_racks_end          0
p_spot_end                0
p_booked_bikes_end        0
p_place_type_end          0
datetime_end              0
p_uid_end                 0
p_bikes_end               0
p_lat_end                 0
p_name_end                0
p_free_racks_end          0
p_number_end             78
p_lng_end                 0
p_maintenance_end         0
air_deg                   0
air_hum                   0
rain_mm                   0
rain_yn                   0
sun_hour                  0
wind_ms                   0
trip_duration             0
counter                   0
month                     0
booking_date              0
weekdays                  0
hour                      0
24_sum                    0
dtype: int64

In [178]:
#the merge did not work for 20th of January, 2020! 
#this might be, because no matching datetime_start was found
df = df_full

df_show = df[df['24_sum'].isnull()]
df_show = df_show[['datetime_start','24_sum','6_sum','2_sum','1_sum']]
print(df_show.to_string())

#Whats the reason? maybe merge direction 'nearest' is bad for this task? --> NOPE
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_asof.html

# A â€œbackwardâ€ search selects the last row in the right DataFrame --> 300.000 NaNs
# whose â€˜onâ€™ key is less than or equal to the leftâ€™s key.

# A â€œforwardâ€ search selects the first row in the right DataFrame --> 200.000 NaNs
# whose â€˜onâ€™ key is greater than or equal to the leftâ€™s key.

# A â€œnearestâ€ search selects the row in the right DataFrame --> 700 NaNs
# whose â€˜onâ€™ key is closest in absolute distance to the leftâ€™s key

#Maybe resampling method is not entirely correct?
#https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.resample.html

            datetime_start  24_sum  6_sum  2_sum  1_sum
566740 2020-01-20 12:01:00     NaN  464.0  140.0   71.0
566741 2020-01-20 12:03:00     NaN  464.0  140.0   71.0
566742 2020-01-20 12:05:00     NaN  464.0  140.0   71.0
566743 2020-01-20 12:06:00     NaN  464.0  140.0   71.0
566744 2020-01-20 12:06:00     NaN  464.0  140.0   71.0
566745 2020-01-20 12:07:00     NaN  464.0  140.0   71.0
566746 2020-01-20 12:07:00     NaN  464.0  140.0   71.0
566747 2020-01-20 12:09:00     NaN  464.0  140.0   71.0
566748 2020-01-20 12:09:00     NaN  464.0  140.0   71.0
566749 2020-01-20 12:10:00     NaN  464.0  140.0   71.0
566750 2020-01-20 12:10:00     NaN  464.0  140.0   71.0
566751 2020-01-20 12:12:00     NaN  464.0  140.0   71.0
566752 2020-01-20 12:13:00     NaN  464.0  140.0   71.0
566753 2020-01-20 12:13:00     NaN  464.0  140.0   71.0
566754 2020-01-20 12:14:00     NaN  464.0  140.0   71.0
566755 2020-01-20 12:15:00     NaN  464.0  140.0   71.0
566756 2020-01-20 12:19:00     NaN  464.0  140.0   71.0
566757 2020-01-20 12:19:00     NaN  464.0  140.0   71.0
566758 2020-01-20 12:20:00     NaN  464.0  140.0   71.0
566759 2020-01-20 12:20:00     NaN  464.0  140.0   71.0
566760 2020-01-20 12:21:00     NaN  464.0  140.0   71.0
566761 2020-01-20 12:21:00     NaN  464.0  140.0   71.0
566762 2020-01-20 12:21:00     NaN  464.0  140.0   71.0
566763 2020-01-20 12:21:00     NaN  464.0  140.0   71.0
566764 2020-01-20 12:21:00     NaN  464.0  140.0   71.0
566765 2020-01-20 12:22:00     NaN  464.0  140.0   71.0
566766 2020-01-20 12:24:00     NaN  464.0  140.0   71.0
566767 2020-01-20 12:26:00     NaN  464.0  140.0   71.0
566768 2020-01-20 12:26:00     NaN  464.0  140.0   71.0
566769 2020-01-20 12:27:00     NaN  464.0  140.0   71.0
566770 2020-01-20 12:28:00     NaN  464.0  140.0   71.0
566771 2020-01-20 12:30:00     NaN  464.0  140.0   71.0
566772 2020-01-20 12:33:00     NaN  464.0  140.0   69.0
566773 2020-01-20 12:34:00     NaN  464.0  140.0   69.0
566774 2020-01-20 12:35:00     NaN  464.0  140.0   69.0
566775 2020-01-20 12:35:00     NaN  464.0  140.0   69.0
566776 2020-01-20 12:35:00     NaN  464.0  140.0   69.0
566777 2020-01-20 12:36:00     NaN  464.0  140.0   69.0
566778 2020-01-20 12:37:00     NaN  464.0  140.0   69.0
566779 2020-01-20 12:40:00     NaN  464.0  140.0   69.0
566780 2020-01-20 12:40:00     NaN  464.0  140.0   69.0
566781 2020-01-20 12:40:00     NaN  464.0  140.0   69.0
566782 2020-01-20 12:41:00     NaN  464.0  140.0   69.0
566783 2020-01-20 12:41:00     NaN  464.0  140.0   69.0
566784 2020-01-20 12:41:00     NaN  464.0  140.0   69.0
566785 2020-01-20 12:42:00     NaN  464.0  140.0   69.0
566786 2020-01-20 12:42:00     NaN  464.0  140.0   69.0
566787 2020-01-20 12:42:00     NaN  464.0  140.0   69.0
566788 2020-01-20 12:45:00     NaN  464.0  140.0   69.0
566789 2020-01-20 12:45:00     NaN  464.0  140.0   69.0
566790 2020-01-20 12:45:00     NaN  464.0  140.0   69.0
566791 2020-01-20 12:46:00     NaN  464.0  140.0   69.0
566792 2020-01-20 12:46:00     NaN  464.0  140.0   69.0
566793 2020-01-20 12:47:00     NaN  464.0  140.0   69.0
566794 2020-01-20 12:47:00     NaN  464.0  140.0   69.0
566795 2020-01-20 12:47:00     NaN  464.0  140.0   69.0
566796 2020-01-20 12:47:00     NaN  464.0  140.0   69.0
566797 2020-01-20 12:47:00     NaN  464.0  140.0   69.0
566798 2020-01-20 12:48:00     NaN  464.0  140.0   69.0
566799 2020-01-20 12:49:00     NaN  464.0  140.0   69.0
566800 2020-01-20 12:51:00     NaN  464.0  140.0   69.0
566801 2020-01-20 12:51:00     NaN  464.0  140.0   69.0
566802 2020-01-20 12:51:00     NaN  464.0  140.0   69.0
566803 2020-01-20 12:51:00     NaN  464.0  140.0   69.0
566804 2020-01-20 12:52:00     NaN  464.0  140.0   69.0
566805 2020-01-20 12:56:00     NaN  464.0  140.0   69.0
566806 2020-01-20 12:56:00     NaN  464.0  140.0   69.0
566807 2020-01-20 12:56:00     NaN  464.0  140.0   69.0
566808 2020-01-20 12:57:00     NaN  464.0  140.0   69.0
566809 2020-01-20 12:58:00     NaN  464.0  140.0   69.0
566810 2020-01-20 13:00:00     NaN  464.0  140.0   69.0
566811 2020-01-20 13:00:00     NaN  464.0  140.0   69.0
566812 2020-01-20 13:00:00     NaN  464.0  140.0   69.0
566813 2020-01-20 13:02:00     NaN  464.0  140.0   69.0
566814 2020-01-20 13:03:00     NaN  464.0  140.0   69.0
566815 2020-01-20 13:04:00     NaN  464.0  140.0   69.0
566816 2020-01-20 13:05:00     NaN  464.0  140.0   69.0
566817 2020-01-20 13:06:00     NaN  464.0  140.0   69.0
566818 2020-01-20 13:07:00     NaN  464.0  140.0   69.0
566819 2020-01-20 13:09:00     NaN  464.0  140.0   69.0
566820 2020-01-20 13:09:00     NaN  464.0  140.0   69.0
566821 2020-01-20 13:10:00     NaN  464.0  140.0   69.0
566822 2020-01-20 13:10:00     NaN  464.0  140.0   69.0
566823 2020-01-20 13:11:00     NaN  464.0  140.0   69.0
566824 2020-01-20 13:11:00     NaN  464.0  140.0   69.0
566825 2020-01-20 13:11:00     NaN  464.0  140.0   69.0
566826 2020-01-20 13:14:00     NaN  464.0  140.0   69.0
566827 2020-01-20 13:14:00     NaN  464.0  140.0   69.0
566828 2020-01-20 13:15:00     NaN  464.0  140.0   69.0
566829 2020-01-20 13:15:00     NaN  464.0  140.0   69.0
566830 2020-01-20 13:15:00     NaN  464.0  140.0   69.0
566831 2020-01-20 13:16:00     NaN  464.0  140.0   69.0
566832 2020-01-20 13:16:00     NaN  464.0  140.0   69.0
566833 2020-01-20 13:16:00     NaN  464.0  140.0   69.0
566834 2020-01-20 13:16:00     NaN  464.0  140.0   69.0
566835 2020-01-20 13:17:00     NaN  464.0  140.0   69.0
566836 2020-01-20 13:17:00     NaN  464.0  140.0   69.0
566837 2020-01-20 13:18:00     NaN  464.0  140.0   69.0
566838 2020-01-20 13:19:00     NaN  464.0  140.0   69.0
566839 2020-01-20 13:19:00     NaN  464.0  140.0   69.0
566840 2020-01-20 13:20:00     NaN  464.0  140.0   69.0
566841 2020-01-20 13:20:00     NaN  464.0  140.0   69.0
566842 2020-01-20 13:20:00     NaN  464.0  140.0   69.0
566843 2020-01-20 13:21:00     NaN  464.0  140.0   69.0
566844 2020-01-20 13:21:00     NaN  464.0  140.0   69.0
566845 2020-01-20 13:21:00     NaN  464.0  140.0   69.0
566846 2020-01-20 13:22:00     NaN  464.0  140.0   69.0
566847 2020-01-20 13:23:00     NaN  464.0  140.0   69.0
566848 2020-01-20 13:23:00     NaN  464.0  140.0   69.0
566849 2020-01-20 13:26:00     NaN  464.0  140.0   69.0
566850 2020-01-20 13:27:00     NaN  464.0  140.0   69.0
566851 2020-01-20 13:28:00     NaN  464.0  140.0   69.0
566852 2020-01-20 13:29:00     NaN  464.0  140.0   69.0
566853 2020-01-20 13:30:00     NaN  464.0  140.0   69.0
566854 2020-01-20 13:31:00     NaN  464.0  140.0   83.0
566855 2020-01-20 13:33:00     NaN  464.0  140.0   83.0
566856 2020-01-20 13:33:00     NaN  464.0  140.0   83.0
566857 2020-01-20 13:34:00     NaN  464.0  140.0   83.0
566858 2020-01-20 13:35:00     NaN  464.0  140.0   83.0
566859 2020-01-20 13:35:00     NaN  464.0  140.0   83.0
566860 2020-01-20 13:38:00     NaN  464.0  140.0   83.0
566861 2020-01-20 13:38:00     NaN  464.0  140.0   83.0
566862 2020-01-20 13:41:00     NaN  464.0  140.0   83.0
566863 2020-01-20 13:43:00     NaN  464.0  140.0   83.0
566864 2020-01-20 13:43:00     NaN  464.0  140.0   83.0
566865 2020-01-20 13:44:00     NaN  464.0  140.0   83.0
566866 2020-01-20 13:45:00     NaN  464.0  140.0   83.0
566867 2020-01-20 13:46:00     NaN  464.0  140.0   83.0
566868 2020-01-20 13:48:00     NaN  464.0  140.0   83.0
566869 2020-01-20 13:48:00     NaN  464.0  140.0   83.0
566870 2020-01-20 13:49:00     NaN  464.0  140.0   83.0
566871 2020-01-20 13:50:00     NaN  464.0  140.0   83.0
566872 2020-01-20 13:53:00     NaN  464.0  140.0   83.0
566873 2020-01-20 13:54:00     NaN  464.0  140.0   83.0
566874 2020-01-20 13:55:00     NaN  464.0  140.0   83.0
566875 2020-01-20 13:55:00     NaN  464.0  140.0   83.0
566876 2020-01-20 13:59:00     NaN  464.0  140.0   83.0
566877 2020-01-20 13:59:00     NaN  464.0  140.0   83.0
566878 2020-01-20 13:59:00     NaN  464.0  140.0   83.0
566879 2020-01-20 14:00:00     NaN  464.0  140.0   83.0
566880 2020-01-20 14:03:00     NaN  464.0  140.0   83.0
566881 2020-01-20 14:04:00     NaN  464.0  140.0   83.0
566882 2020-01-20 14:04:00     NaN  464.0  140.0   83.0
566883 2020-01-20 14:05:00     NaN  464.0  140.0   83.0
566884 2020-01-20 14:05:00     NaN  464.0  140.0   83.0
566885 2020-01-20 14:07:00     NaN  464.0  140.0   83.0
566886 2020-01-20 14:08:00     NaN  464.0  140.0   83.0
566887 2020-01-20 14:08:00     NaN  464.0  140.0   83.0
566888 2020-01-20 14:08:00     NaN  464.0  140.0   83.0
566889 2020-01-20 14:09:00     NaN  464.0  140.0   83.0
566890 2020-01-20 14:10:00     NaN  464.0  140.0   83.0
566891 2020-01-20 14:10:00     NaN  464.0  140.0   83.0
566892 2020-01-20 14:11:00     NaN  464.0  140.0   83.0
566893 2020-01-20 14:11:00     NaN  464.0  140.0   83.0
566894 2020-01-20 14:12:00     NaN  464.0  140.0   83.0
566895 2020-01-20 14:12:00     NaN  464.0  140.0   83.0
566896 2020-01-20 14:13:00     NaN  464.0  140.0   83.0
566897 2020-01-20 14:17:00     NaN  464.0  140.0   83.0
566898 2020-01-20 14:17:00     NaN  464.0  140.0   83.0
566899 2020-01-20 14:17:00     NaN  464.0  140.0   83.0
566900 2020-01-20 14:18:00     NaN  464.0  140.0   83.0
566901 2020-01-20 14:19:00     NaN  464.0  140.0   83.0
566902 2020-01-20 14:19:00     NaN  464.0  140.0   83.0
566903 2020-01-20 14:21:00     NaN  464.0  140.0   83.0
566904 2020-01-20 14:21:00     NaN  464.0  140.0   83.0
566905 2020-01-20 14:21:00     NaN  464.0  140.0   83.0
566906 2020-01-20 14:21:00     NaN  464.0  140.0   83.0
566907 2020-01-20 14:21:00     NaN  464.0  140.0   83.0
566908 2020-01-20 14:23:00     NaN  464.0  140.0   83.0
566909 2020-01-20 14:23:00     NaN  464.0  140.0   83.0
566910 2020-01-20 14:23:00     NaN  464.0  140.0   83.0
566911 2020-01-20 14:25:00     NaN  464.0  140.0   83.0
566912 2020-01-20 14:25:00     NaN  464.0  140.0   83.0
566913 2020-01-20 14:25:00     NaN  464.0  140.0   83.0
566914 2020-01-20 14:27:00     NaN  464.0  140.0   83.0
566915 2020-01-20 14:29:00     NaN  464.0  140.0   83.0
566916 2020-01-20 14:30:00     NaN  464.0  140.0   83.0
566917 2020-01-20 14:31:00     NaN  464.0  140.0   57.0
566918 2020-01-20 14:31:00     NaN  464.0  140.0   57.0
566919 2020-01-20 14:31:00     NaN  464.0  140.0   57.0
566920 2020-01-20 14:32:00     NaN  464.0  140.0   57.0
566921 2020-01-20 14:33:00     NaN  464.0  140.0   57.0
566922 2020-01-20 14:35:00     NaN  464.0  140.0   57.0
566923 2020-01-20 14:36:00     NaN  464.0  140.0   57.0
566924 2020-01-20 14:36:00     NaN  464.0  140.0   57.0
566925 2020-01-20 14:38:00     NaN  464.0  140.0   57.0
566926 2020-01-20 14:38:00     NaN  464.0  140.0   57.0
566927 2020-01-20 14:39:00     NaN  464.0  140.0   57.0
566928 2020-01-20 14:39:00     NaN  464.0  140.0   57.0
566929 2020-01-20 14:40:00     NaN  464.0  140.0   57.0
566930 2020-01-20 14:40:00     NaN  464.0  140.0   57.0
566931 2020-01-20 14:40:00     NaN  464.0  140.0   57.0
566932 2020-01-20 14:41:00     NaN  464.0  140.0   57.0
566933 2020-01-20 14:41:00     NaN  464.0  140.0   57.0
566934 2020-01-20 14:41:00     NaN  464.0  140.0   57.0
566935 2020-01-20 14:42:00     NaN  464.0  140.0   57.0
566936 2020-01-20 14:42:00     NaN  464.0  140.0   57.0
566937 2020-01-20 14:42:00     NaN  464.0  140.0   57.0
566938 2020-01-20 14:44:00     NaN  464.0  140.0   57.0
566939 2020-01-20 14:44:00     NaN  464.0  140.0   57.0
566940 2020-01-20 14:44:00     NaN  464.0  140.0   57.0
566941 2020-01-20 14:44:00     NaN  464.0  140.0   57.0
566942 2020-01-20 14:44:00     NaN  464.0  140.0   57.0
566943 2020-01-20 14:45:00     NaN  464.0  140.0   57.0
566944 2020-01-20 14:47:00     NaN  464.0  140.0   57.0
566945 2020-01-20 14:47:00     NaN  464.0  140.0   57.0
566946 2020-01-20 14:47:00     NaN  464.0  140.0   57.0
566947 2020-01-20 14:48:00     NaN  464.0  140.0   57.0
566948 2020-01-20 14:49:00     NaN  464.0  140.0   57.0
566949 2020-01-20 14:49:00     NaN  464.0  140.0   57.0
566950 2020-01-20 14:50:00     NaN  464.0  140.0   57.0
566951 2020-01-20 14:51:00     NaN  464.0  140.0   57.0
566952 2020-01-20 14:51:00     NaN  464.0  140.0   57.0
566953 2020-01-20 14:51:00     NaN  464.0  140.0   57.0
566954 2020-01-20 14:52:00     NaN  464.0  140.0   57.0
566955 2020-01-20 14:53:00     NaN  464.0  140.0   57.0
566956 2020-01-20 14:53:00     NaN  464.0  140.0   57.0
566957 2020-01-20 14:56:00     NaN  464.0  140.0   57.0
566958 2020-01-20 14:58:00     NaN  464.0  140.0   57.0
566959 2020-01-20 14:58:00     NaN  464.0  140.0   57.0
566960 2020-01-20 14:59:00     NaN  464.0  140.0   57.0
566961 2020-01-20 14:59:00     NaN  464.0  140.0   57.0
566962 2020-01-20 15:00:00     NaN  464.0  140.0   57.0
566963 2020-01-20 15:01:00     NaN  236.0  184.0   57.0
566964 2020-01-20 15:02:00     NaN  236.0  184.0   57.0
566965 2020-01-20 15:03:00     NaN  236.0  184.0   57.0
566966 2020-01-20 15:04:00     NaN  236.0  184.0   57.0
566967 2020-01-20 15:06:00     NaN  236.0  184.0   57.0
566968 2020-01-20 15:08:00     NaN  236.0  184.0   57.0
566969 2020-01-20 15:09:00     NaN  236.0  184.0   57.0
566970 2020-01-20 15:12:00     NaN  236.0  184.0   57.0
566971 2020-01-20 15:12:00     NaN  236.0  184.0   57.0
566972 2020-01-20 15:12:00     NaN  236.0  184.0   57.0
566973 2020-01-20 15:12:00     NaN  236.0  184.0   57.0
566974 2020-01-20 15:14:00     NaN  236.0  184.0   57.0
566975 2020-01-20 15:17:00     NaN  236.0  184.0   57.0
566976 2020-01-20 15:17:00     NaN  236.0  184.0   57.0
566977 2020-01-20 15:17:00     NaN  236.0  184.0   57.0
566978 2020-01-20 15:18:00     NaN  236.0  184.0   57.0
566979 2020-01-20 15:18:00     NaN  236.0  184.0   57.0
566980 2020-01-20 15:19:00     NaN  236.0  184.0   57.0
566981 2020-01-20 15:22:00     NaN  236.0  184.0   57.0
566982 2020-01-20 15:25:00     NaN  236.0  184.0   57.0
566983 2020-01-20 15:25:00     NaN  236.0  184.0   57.0
566984 2020-01-20 15:25:00     NaN  236.0  184.0   57.0
566985 2020-01-20 15:26:00     NaN  236.0  184.0   57.0
566986 2020-01-20 15:29:00     NaN  236.0  184.0   57.0
566987 2020-01-20 15:29:00     NaN  236.0  184.0   57.0
566988 2020-01-20 15:30:00     NaN  236.0  184.0   57.0
566989 2020-01-20 15:30:00     NaN  236.0  184.0   57.0
566990 2020-01-20 15:31:00     NaN  236.0  184.0  113.0
566991 2020-01-20 15:32:00     NaN  236.0  184.0  113.0
566992 2020-01-20 15:33:00     NaN  236.0  184.0  113.0
566993 2020-01-20 15:35:00     NaN  236.0  184.0  113.0
566994 2020-01-20 15:36:00     NaN  236.0  184.0  113.0
566995 2020-01-20 15:40:00     NaN  236.0  184.0  113.0
566996 2020-01-20 15:42:00     NaN  236.0  184.0  113.0
566997 2020-01-20 15:42:00     NaN  236.0  184.0  113.0
566998 2020-01-20 15:42:00     NaN  236.0  184.0  113.0
566999 2020-01-20 15:43:00     NaN  236.0  184.0  113.0
567000 2020-01-20 15:43:00     NaN  236.0  184.0  113.0
567001 2020-01-20 15:44:00     NaN  236.0  184.0  113.0
567002 2020-01-20 15:46:00     NaN  236.0  184.0  113.0
567003 2020-01-20 15:46:00     NaN  236.0  184.0  113.0
567004 2020-01-20 15:49:00     NaN  236.0  184.0  113.0
567005 2020-01-20 15:49:00     NaN  236.0  184.0  113.0
567006 2020-01-20 15:51:00     NaN  236.0  184.0  113.0
567007 2020-01-20 15:51:00     NaN  236.0  184.0  113.0
567008 2020-01-20 15:51:00     NaN  236.0  184.0  113.0
567009 2020-01-20 15:52:00     NaN  236.0  184.0  113.0
567010 2020-01-20 15:53:00     NaN  236.0  184.0  113.0
567011 2020-01-20 15:54:00     NaN  236.0  184.0  113.0
567012 2020-01-20 15:55:00     NaN  236.0  184.0  113.0
567013 2020-01-20 15:55:00     NaN  236.0  184.0  113.0
567014 2020-01-20 15:57:00     NaN  236.0  184.0  113.0
567015 2020-01-20 15:58:00     NaN  236.0  184.0  113.0
567016 2020-01-20 15:58:00     NaN  236.0  184.0  113.0
567017 2020-01-20 15:59:00     NaN  236.0  184.0  113.0
567018 2020-01-20 15:59:00     NaN  236.0  184.0  113.0
567019 2020-01-20 16:00:00     NaN  236.0  184.0  113.0
567020 2020-01-20 16:02:00     NaN  236.0  184.0  113.0
567021 2020-01-20 16:03:00     NaN  236.0  184.0  113.0
567022 2020-01-20 16:03:00     NaN  236.0  184.0  113.0
567023 2020-01-20 16:04:00     NaN  236.0  184.0  113.0
567024 2020-01-20 16:04:00     NaN  236.0  184.0  113.0
567025 2020-01-20 16:04:00     NaN  236.0  184.0  113.0
567026 2020-01-20 16:06:00     NaN  236.0  184.0  113.0
567027 2020-01-20 16:06:00     NaN  236.0  184.0  113.0
567028 2020-01-20 16:07:00     NaN  236.0  184.0  113.0
567029 2020-01-20 16:07:00     NaN  236.0  184.0  113.0
567030 2020-01-20 16:08:00     NaN  236.0  184.0  113.0
567031 2020-01-20 16:08:00     NaN  236.0  184.0  113.0
567032 2020-01-20 16:10:00     NaN  236.0  184.0  113.0
567033 2020-01-20 16:10:00     NaN  236.0  184.0  113.0
567034 2020-01-20 16:10:00     NaN  236.0  184.0  113.0
567035 2020-01-20 16:10:00     NaN  236.0  184.0  113.0
567036 2020-01-20 16:12:00     NaN  236.0  184.0  113.0
567037 2020-01-20 16:12:00     NaN  236.0  184.0  113.0
567038 2020-01-20 16:12:00     NaN  236.0  184.0  113.0
567039 2020-01-20 16:12:00     NaN  236.0  184.0  113.0
567040 2020-01-20 16:13:00     NaN  236.0  184.0  113.0
567041 2020-01-20 16:14:00     NaN  236.0  184.0  113.0
567042 2020-01-20 16:15:00     NaN  236.0  184.0  113.0
567043 2020-01-20 16:15:00     NaN  236.0  184.0  113.0
567044 2020-01-20 16:16:00     NaN  236.0  184.0  113.0
567045 2020-01-20 16:16:00     NaN  236.0  184.0  113.0
567046 2020-01-20 16:17:00     NaN  236.0  184.0  113.0
567047 2020-01-20 16:18:00     NaN  236.0  184.0  113.0
567048 2020-01-20 16:21:00     NaN  236.0  184.0  113.0
567049 2020-01-20 16:21:00     NaN  236.0  184.0  113.0
567050 2020-01-20 16:23:00     NaN  236.0  184.0  113.0
567051 2020-01-20 16:23:00     NaN  236.0  184.0  113.0
567052 2020-01-20 16:23:00     NaN  236.0  184.0  113.0
567053 2020-01-20 16:24:00     NaN  236.0  184.0  113.0
567054 2020-01-20 16:24:00     NaN  236.0  184.0  113.0
567055 2020-01-20 16:24:00     NaN  236.0  184.0  113.0
567056 2020-01-20 16:25:00     NaN  236.0  184.0  113.0
567057 2020-01-20 16:25:00     NaN  236.0  184.0  113.0
567058 2020-01-20 16:25:00     NaN  236.0  184.0  113.0
567059 2020-01-20 16:26:00     NaN  236.0  184.0  113.0
567060 2020-01-20 16:26:00     NaN  236.0  184.0  113.0
567061 2020-01-20 16:26:00     NaN  236.0  184.0  113.0
567062 2020-01-20 16:27:00     NaN  236.0  184.0  113.0
567063 2020-01-20 16:27:00     NaN  236.0  184.0  113.0
567064 2020-01-20 16:27:00     NaN  236.0  184.0  113.0
567065 2020-01-20 16:27:00     NaN  236.0  184.0  113.0
567066 2020-01-20 16:27:00     NaN  236.0  184.0  113.0
567067 2020-01-20 16:28:00     NaN  236.0  184.0  113.0
567068 2020-01-20 16:28:00     NaN  236.0  184.0  113.0
567069 2020-01-20 16:28:00     NaN  236.0  184.0  113.0
567070 2020-01-20 16:28:00     NaN  236.0  184.0  113.0
567071 2020-01-20 16:28:00     NaN  236.0  184.0  113.0
567072 2020-01-20 16:29:00     NaN  236.0  184.0  113.0
567073 2020-01-20 16:29:00     NaN  236.0  184.0  113.0
567074 2020-01-20 16:30:00     NaN  236.0  184.0  113.0
567075 2020-01-20 16:31:00     NaN  236.0  184.0   71.0
567076 2020-01-20 16:31:00     NaN  236.0  184.0   71.0
567077 2020-01-20 16:32:00     NaN  236.0  184.0   71.0
567078 2020-01-20 16:32:00     NaN  236.0  184.0   71.0
567079 2020-01-20 16:32:00     NaN  236.0  184.0   71.0
567080 2020-01-20 16:32:00     NaN  236.0  184.0   71.0
567081 2020-01-20 16:32:00     NaN  236.0  184.0   71.0
567082 2020-01-20 16:33:00     NaN  236.0  184.0   71.0
567083 2020-01-20 16:34:00     NaN  236.0  184.0   71.0
567084 2020-01-20 16:34:00     NaN  236.0  184.0   71.0
567085 2020-01-20 16:34:00     NaN  236.0  184.0   71.0
567086 2020-01-20 16:34:00     NaN  236.0  184.0   71.0
567087 2020-01-20 16:34:00     NaN  236.0  184.0   71.0
567088 2020-01-20 16:34:00     NaN  236.0  184.0   71.0
567089 2020-01-20 16:34:00     NaN  236.0  184.0   71.0
567090 2020-01-20 16:34:00     NaN  236.0  184.0   71.0
567091 2020-01-20 16:35:00     NaN  236.0  184.0   71.0
567092 2020-01-20 16:36:00     NaN  236.0  184.0   71.0
567093 2020-01-20 16:36:00     NaN  236.0  184.0   71.0
567094 2020-01-20 16:36:00     NaN  236.0  184.0   71.0
567095 2020-01-20 16:36:00     NaN  236.0  184.0   71.0

In [183]:
df_full[df_full['booking_date']=='2020-01-21']

Empty DataFrame
Columns: [p_bike_racks_start, p_spot_start, p_booked_bikes_start, p_place_type_start, datetime_start, b_number_start, p_uid_start, p_bikes_start, p_lat_start, b_electric_lock_start, b_bike_type_start, p_name_start, p_free_racks_start, b_lock_types_start, p_number_start, p_lng_start, b_boardcomputer_start, p_maintenance_start, p_bike_racks_end, p_spot_end, p_booked_bikes_end, p_place_type_end, datetime_end, p_uid_end, p_bikes_end, p_lat_end, p_name_end, p_free_racks_end, p_number_end, p_lng_end, p_maintenance_end, air_deg, air_hum, rain_mm, rain_yn, sun_hour, wind_ms, trip_duration, counter, month, booking_date, weekdays, hour, 24_sum, 6_sum, 2_sum, 1_sum]
Index: []

[0 rows x 47 columns]