In [1]:
import os
import pandas as pd
import glob

In [2]:
path=os.path.join(os.getcwd(), '../data/input/dresden/2019/')
path

'/Users/mstroh/PycharmProjects/AAA_Jupyter_Explorers/notebooks/../data/input/dresden/2019/'

In [3]:
directors = glob.glob(path+"*")
directors

all_files = []
for director in directors:
    all_files=all_files+glob.glob(director+"/*.csv")

In [4]:
li = []

for filename in all_files:
    df_read = pd.read_csv(filename, index_col=None, header=0)
    li.append(df_read)

df = pd.concat(li, axis=0, ignore_index=True)

In [5]:
df

,p_spot,b_lock_types,p_maintenance,p_bike_racks,p_terminal_type,p_place_type,p_number,p_rack_locks,p_uid,b_state,...,city,p_booked_bikes,p_name,b_bike_type,p_lat,b_pedelec_battery,p_bike_types,b_battery_pack,p_special_racks,p_free_special_racks
0,True,frame_lock,False,0,free,0,4505.0,False,10299865,ok,...,dresden,0,Altleubitz,0,51.015597,0.0,"{""undefined"": 2, ""15"": 1}",NaN,NaN,NaN
1,True,frame_lock,False,0,free,0,4505.0,False,10299865,ok,...,dresden,0,Altleubitz,0,51.015597,0.0,"{""undefined"": 2, ""15"": 1}",NaN,NaN,NaN
2,False,frame_lock,False,0,NaN,12,0.0,False,13101449,ok,...,dresden,0,BIKE 93616,15,51.065062,0.0,"{""15"": 1}",NaN,NaN,NaN
3,False,frame_lock,False,0,NaN,12,0.0,False,13101449,ok,...,dresden,0,BIKE 93616,15,51.065062,0.0,"{""15"": 1}",NaN,NaN,NaN
4,False,frame_lock,False,0,NaN,12,0.0,False,13103279,ok,...,dresden,0,BIKE 93616,15,51.064738,0.0,"{""15"": 1}",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1406461,True,frame_lock,False,0,NaN,0,4314.0,False,12936,ok,...,dresden,0,Großer Garten / Lennéstraße,71,51.042628,NaN,"{""71"": 1}",NaN,0.0,0.0
1406462,True,frame_lock,False,0,free,0,4482.0,False,10299563,ok,...,dresden,0,Bautzner Straße / Rothenburger Straße,71,51.062940,NaN,"{""71"": 1}",NaN,0.0,0.0
1406463,True,frame_lock,False,0,free,0,4482.0,False,10299563,ok,...,dresden,0,Bautzner Straße / Rothenburger Straße,71,51.062940,NaN,"{""71"": 1}",NaN,0.0,0.0
1406464,True,frame_lock,False,0,NaN,0,4446.0,False,681987,ok,...,dresden,0,Kino im Dach,71,51.040908,NaN,"{""71"": 10}",NaN,0.0,0.0
1406465,True,frame_lock,False,0,NaN,0,4446.0,False,681987,ok,...,dresden,0,Kino im Dach,71,51.040908,NaN,"{""71"": 10}",NaN,0.0,0.0

In [6]:
df['b_lock_types'].unique()

array(['frame_lock', 'analog_code_lock', 'fork_lock',
       'analog_code_lock,rack_adapter', 'analog_code_lock,frame_lock',
       'bubi_lock'], dtype=object)

In [7]:
df[df['p_maintenance']]

,p_spot,b_lock_types,p_maintenance,p_bike_racks,p_terminal_type,p_place_type,p_number,p_rack_locks,p_uid,b_state,...,city,p_booked_bikes,p_name,b_bike_type,p_lat,b_pedelec_battery,p_bike_types,b_battery_pack,p_special_racks,p_free_special_racks
50,True,frame_lock,True,0,NaN,0,4313.0,False,120,ok,...,dresden,0,Hauptbahnhof,0,51.040476,0.0,"{""undefined"": 4, ""15"": 1}",NaN,NaN,NaN
51,True,frame_lock,True,0,NaN,0,4313.0,False,120,ok,...,dresden,0,Hauptbahnhof,0,51.040476,0.0,"{""undefined"": 4, ""15"": 1}",NaN,NaN,NaN
66,True,frame_lock,True,0,NaN,0,4313.0,False,120,ok,...,dresden,0,Hauptbahnhof,15,51.040476,0.0,"{""undefined"": 1, ""15"": 1}",NaN,NaN,NaN
67,True,frame_lock,True,0,NaN,0,4313.0,False,120,ok,...,dresden,0,Hauptbahnhof,15,51.040476,0.0,"{""undefined"": 2, ""15"": 2}",NaN,NaN,NaN
138,True,frame_lock,True,0,NaN,0,4313.0,False,120,ok,...,dresden,0,Hauptbahnhof,15,51.040476,0.0,"{""undefined"": 4, ""15"": 1}",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1406421,True,frame_lock,True,0,NaN,0,4313.0,False,120,ok,...,dresden,0,Hauptbahnhof,71,51.040476,NaN,"{""71"": 42}",NaN,0.0,0.0
1406442,True,frame_lock,True,0,NaN,0,4313.0,False,120,ok,...,dresden,0,Hauptbahnhof,71,51.040476,NaN,"{""15"": 1, ""71"": 41}",NaN,0.0,0.0
1406443,True,frame_lock,True,0,NaN,0,4313.0,False,120,ok,...,dresden,0,Hauptbahnhof,71,51.040476,NaN,"{""71"": 42}",NaN,0.0,0.0
1406452,True,frame_lock,True,0,NaN,0,4313.0,False,120,ok,...,dresden,0,Hauptbahnhof,71,51.040476,NaN,"{""15"": 1, ""71"": 49}",NaN,0.0,0.0
1406453,True,frame_lock,True,0,NaN,0,4313.0,False,120,ok,...,dresden,0,Hauptbahnhof,71,51.040476,NaN,"{""71"": 42}",NaN,0.0,0.0

In [8]:
df['p_bike_racks'].unique()

array([0, 6, 4])

In [9]:
df['p_terminal_type'].unique()

array(['free', nan, 'stele', 'traffic_sign', 'sign'], dtype=object)

In [10]:
df.columns

Index(['p_spot', 'b_lock_types', 'p_maintenance', 'p_bike_racks',
       'p_terminal_type', 'p_place_type', 'p_number', 'p_rack_locks', 'p_uid',
       'b_state', 'b_number', 'p_free_racks', 'b_boardcomputer', 'datetime',
       'p_lng', 'p_address', 'b_active', 'b_electric_lock', 'p_bike',
       'p_bikes', 'trip', 'city', 'p_booked_bikes', 'p_name', 'b_bike_type',
       'p_lat', 'b_pedelec_battery', 'p_bike_types', 'b_battery_pack',
       'p_special_racks', 'p_free_special_racks'],
      dtype='object')

In [11]:
df_active_maint = df[['b_active', 'p_maintenance']]
df_active_maint.head(20)

    b_active  p_maintenance
0       True          False
1       True          False
2       True          False
3       True          False
4       True          False
5       True          False
6       True          False
7       True          False
8       True          False
9       True          False
10      True          False
11      True          False
12      True          False
13      True          False
14      True          False
15      True          False
16      True          False
17      True          False
18      True          False
19      True          False

In [12]:
df_active_maint[df['b_active'] == df['p_maintenance']]

         b_active  p_maintenance
50           True           True
51           True           True
66           True           True
67           True           True
138          True           True
...           ...            ...
1406421      True           True
1406442      True           True
1406443      True           True
1406452      True           True
1406453      True           True

[40773 rows x 2 columns]